.slider-horizontal {
	width: 100%;
	min-width:1216px;
	margin:0 auto;
	background:url(../images/bg_03.png) repeat;
	height: 150px;
	position:absolute !important;
	z-index:99;
}
.slider-horizontal .item {
	height: 100px;
	width: 200px;
	margin: 20px 10px 0;
}

.item img{
	border:5px solid #000;
}
.item img:hover {
	border:5px solid #F00;
}
.item img.active{
	border:5px solid #F00;
}

body {
	font: 15px/25px verdana, sans-serif;
	color: #333;
}
h1 {
	font-weight: bold;
	text-transform: uppercase;
	color: #349cf3;
	padding: 40px 0 0;
}
.text {
	width: 600px;
	float: left;
}
.ad {
	padding: 20px;
	border: 1px solid #ddd;
	background: #f4f4f4;
}
.ad-2 {
	width: 230px;
	float: right;
	border: 1px solid #ddd;
	background: #f4f4f4;
	margin: 10px 0 20px 0;
	padding: 10px;
}
.ad-3 {
	float: left;
	width: 336px;
	margin: 25px 0 0 25px;
}

.www_FlowSlider_com-branding{
	display:none !important;
	background:none !important;
	position:absolute !important;
	right:-200px;
}