	article,aside,details,figcaption,figure,footer,header,hgroup,img,menu,nav,section,summary
{
	display:block
}
.hdr-three,.hdr-two,h2,h3
{
	text-transform:capitalize
}
	a img,hr
{
	border:none
}
.hdr-seven,a,a:visited
{
	color:#0077C1
}
	#header,sub,sup
{
	position:relative
}
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline
}
	html
{
	line-height:1
}
	ol,ul
{
	list-style:none
}
	caption,td,th
{
	text-align:left;
	font-weight:400;
	vertical-align:middle
}
	blockquote,q
{
	quotes:none
}
	blockquote:after,blockquote:before,q:after,q:before
{
	content:"";
	content:none
}
	*
{
	box-sizing:border-box
}
	body
{
	font-family:lane_-_narrowregular,Arial,sans-serif;
	font-size:18px;
	line-height:1.5;
	font-weight:300;
	color:#484848;
	-webkit-font-smoothing:antialiased!important;
	font-smoothing:antialiased!important;
	text-rendering:optimizeLegibility;
	background-color:#fff
}
	@media (min-width:600px)
{
	body
{
	font-size:21px
}

}
	blockquote,dl,h1,h2,h3,h4,h5,h6,p,pre
{
	margin-bottom:20px
}
	img
{
	width:100%;
	height:auto
}
.hdr-one,h1
{
	font-size:1.778em;
	line-height:.875em;
	-webkit-transform:translateX(-1px);
	transform:translateX(-1px)
}
	@media (min-width:600px)
{
.hdr-one,h1
{
	font-size:2.714em;
	line-height:.897em;
	-webkit-transform:translateX(-2px);
	transform:translateX(-2px)
}

}
.hdr-two,h2
{
	font-size:1.778em;
	line-height:1em;
	font-family:"ITC Legacy Serif W01",Georgia,serif
}
	@media (min-width:600px)
{
.hdr-two,h2
{
	font-size:2.4em;
	line-height:.896em
}
.twoo,h2
{
	font-size:1.5em;
	line-height:1em;
	text-transform:capitalize;
	font-family:"ITC Legacy Serif W01",Georgia,serif
}

}
.hdr-three,h3
{
	font-size:1.722em;
	line-height:.903em
}
.hdr-five,.hdr-four,.hdr-seven,.hdr-six,h4,h5,h6
{
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-transform:uppercase
}
	@media (min-width:600px)
{
.hdr-three,h3
{
	font-size:1.714em;
	line-height:.889em
}

}
.hdr-four,h4
{
	font-size:.833em;
	line-height:1.533em;
	letter-spacing:.1em;
	text-align:right
}
	@media (min-width:600px)
{
	h4
{
	font-size:20px;
	line-height:1.5em
}
.hdr-four
{
	font-size:15px;
	line-height:1.2em
}

}
.hdr-five,h5
{
	font-size:.833em;
	line-height:1.533em;
	background-color:#ebebeb;
	padding:5px 20px;
	letter-spacing:.04em
}
	@media (min-width:600px)
{
.hdr-five,h5
{
	font-size:.857em;
	line-height:1.5em
}

}
.hdr-six,h6
{
	font-size:.944em;
	line-height:1.533em
}
	@media (min-width:600px)
{
.hdr-six,h6
{
	font-size:.81em;
	line-height:1.529em
}

}
.hdr-seven
{
	font-size:.833em;
	line-height:1.533em;
	letter-spacing:.06em
}
	@media (min-width:600px)
{
.hdr-seven
{
	font-size:.857em;
	line-height:1.5em
}

}
	dfn,em,i
{
	font-style:italic
}
	b,strong
{
	font-weight:700
}
	small
{
	font-size:80%
}
	hr
{
	clear:both;
	border-top:1px solid rgba(51,51,51,.25);
	height:0;
	margin:20px 0;
	padding:0
}
.btn,button
{
	font-size:.667em;
	letter-spacing:.08em;
	padding:11px 13.33px 9px;
	display:inline-block;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700
}
	:focus,a:hover
{
	outline:0
}
	a
{
	transition:ease-in-out .2s;
	text-decoration:none
}
	a:active,a:focus,a:hover
{
	color:#999
}
	button
{
	border-radius:4px;
	border:1px solid #0077C1;
	color:#fff;
	background:#0077C1;
	-webkit-font-smoothing:antialiased!important
}
	button:after
{
	border-style:solid;
	border-width:4px 0 4px 8.7px;
	border-color:transparent transparent transparent #fff;
	content:'';
	display:inline-block;
	height:0;
	margin-left:9px;
	width:0
}
	@media (min-width:600px)
{
	button:after
{
	border-width:5px 0 5px 8.7px;
	margin-left:10px
}

}
	button:active,button:focus,button:hover
{
	transition:ease-in-out .2s;
	cursor:pointer;
	background:#055C92;
	border:1px solid #238ED0
}
.btn
{
	border-radius:4px;
	border:1px solid #0077C1;
	color:#fff;
	background:#0077C1
}
	table td,table th
{
	padding:10px
}
	cite,table td:first-child
{
	text-transform:capitalize
}
.btn:active,.btn:focus,.btn:hover
{
	transition:ease-in-out .2s;
	cursor:pointer;
	background:#055C92;
	border:1px solid #238ED0
}
	blockquote p,li>ol,li>ul
{
	margin-bottom:0
}
	dl
{
	padding:0;
	margin-bottom:5px
}
	cite
{
	font-family:lane_-_narrowregular,Arial,sans-serif;
	font-weight:700
}
	blockquote
{
	font-size:1.722em;
	font-family:"ITC Legacy Serif W01",Georgia,serif;
	font-style:italic;
	line-height:1
}
	@media (min-width:600px)
{
	blockquote
{
	font-size:1.714em;
	line-height:1
}

}
	blockquote p:before
{
	content:"“"
}
	blockquote p:after
{
	content:"”"
}
	blockquote cite
{
	padding-top:26px;
	display:block;
	font-size:.452em;
	line-height:1
}
	@media (min-width:600px)
{
	blockquote cite
{
	font-size:.444em;
	line-height:1
}

}
	q
{
	quotes:"\201C""\201D""\2018""\2019"
}
	abbr
{
	border-bottom:1px dotted
}
	code,kbd,pre,samp
{
	font-family:courier,monospace
}
	sub,sup
{
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}
	sup
{
	top:-.5em
}
	sub
{
	bottom:-.25em
}
	pre
{
	white-space:pre-wrap
}
	table
{
	border-collapse:collapse;
	border-spacing:0;
	width:55%;
	border:none;
	margin-bottom:25%;
	font-size:1em
}
	@media (min-width:600px)
{
	table
{
	margin:3% auto auto;
	font-size:14px
}

}
	table caption
{
	text-transform:uppercase;
	margin-bottom:14px
}
	table th
{
	text-transform:uppercase;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	font-size:.833em;
	line-height:1em;
	letter-spacing:.04em;
	font-weight:700;
	text-align:left;
	border-bottom:3px solid #ebebeb;
	vertical-align:top
}
	@media (min-width:600px)
{
	table th
{
	font-size:.8591em
}

}
	table tr:first-child td
{
	border-top:none
}
.wrapper
{
	width:100%;
	margin:0 auto
}
	@media (min-width:1351px)
{
.wrapper
{
	width:1294px
}

}
	#header
{
	background-color:#fff;
	box-shadow:0 0 0 9px rgba(255,255,255,.2);
	z-index:1;
	height:60px
}
	@media (min-width:960px)
{
	#header
{
	height:90px;
	transition:top .5s ease
}
.is-fixed #header
{
	position:fixed;
	left:0;
	right:0;
	top:-175px;
	opacity:0
}
	#header.is-sticky
{
	height:100px;
	top:0;
	opacity:1;
	z-index:2000
}

}
	@media (min-width:1000px)
{
.main-content
{
	width:65.37867%;
	float:left;
	margin-right:3.86399%
}
.sidebar
{
	width:30.75734%;
	float:right;
	margin-right:0
}

}
	@media (max-width:1350px)
{
.wrapper
{
	padding-left:20px;
	padding-right:20px
}
.accordion
{
	display:none!important
}
	#footer .wrapper
{
	padding-left:0;
	padding-right:0
}

}
	#footer-info
{
	background-color:#333
}
	@media (min-width:1400px)
{
	#footer-info
{
	padding-top:20px;
	height:110px
}

}
.node--activities article,.node--blog article,.node--package article,.node--page_basic article,.node--treatment article,.node-type-webform article,.page-error-403 article,.page-error-404 article
{
	padding-top:0;
	padding-bottom:0
}
	@media (min-width:900px)
{
.node--activities article,.node--blog article,.node--package article,.node--page_basic article,.node--treatment article,.node-type-webform article,.page-error-403 article,.page-error-404 article
{
	width:80%;
	margin-left:10%;
	padding-top:10px;
	padding-bottom:10px
}

}
	#node-74 article,.node--blog article
{
	padding-bottom:0
}
	@media (min-width:1200px)
{
.node--activities article,.node--blog article,.node--package article,.node--page_basic article,.node--treatment article,.node-type-webform article,.page-error-403 article,.page-error-404 article
{
	width:70%;
	margin-left:15%
}

}
	#node-23 article,#node-57 article,#node-66 article,#node-67 article,#node-68 article,#node-74 article,#node-75 article
{
	width:100%;
	margin-left:0;
	padding-top:0
}
	#node-74 .ctatext-wrapper
{
	padding-bottom:15px
}
	#node-74 .ctatext-text
{
	width:90%
}
	@media (min-width:1200px)
{
	#node-74 .ctatext-text
{
	width:70%
}

}
	@media (min-width:1400px)
{
	#node-74 .ctatext-text
{
	width:60%
}

}
	#node-84 article
{
	padding-top:0
}
	#node-84 .ctatext-wrapper
{
	padding-bottom:65px
}
	#node-23 .activities-list,#node-66 .activities-list,#node-67 .activities-list
{
	margin-bottom:30px
}
.disable-hover,.disable-hover *
{
	pointer-events:none!important
}
.browsehappy
{
	display:block;
	background:#0077C1;
	color:#fff;
	margin-bottom:0;
	text-align:center;
	padding:22px
}
.text-left,a.skiptomain
{
	text-align:left
}
.browsehappy a,.browsehappy a:visited
{
	color:#fff;
	text-decoration:underline
}
.browsehappy a:hover
{
	text-decoration:none
}
	a.skiptomain
{
	position:absolute;
	left:-1000px;
	width:1px;
	height:1px;
	overflow:hidden;
	padding:6px;
	color:#fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	border-bottom-right-radius:8px;
	background:0 0;
	-webkit-transition:top 1s ease-out,background 1s linear;
	transition:top 1s ease-out,background 1s linear;
	z-index:100
}
	a.skiptomain:active,a.skiptomain:focus,a.skiptomain:hover
{
	left:0;
	width:auto;
	height:auto;
	overflow:visible;
	background:#BF1722;
	outline:0;
	-webkit-transition:top .1s ease-in,background .5s linear;
	transition:top .1s ease-in,background .5s linear
}
.hide
{
	display:none
}
.hide-visual
{
	font-size:10px;
	position:absolute!important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px,1px,1px,1px)
}
.clearfix::after,.clearfix::before
{
	content:'';
	display:table;
	clear:both
}
.branding-logos img,.krumo-root img,.mollom-captcha-container img,.mollom-image-captcha img,img.file-icon
{
	width:auto;
	height:auto
}
.krumo-root img
{
	margin-top:20px
}
	img.lazy
{
	display:none
}
.branding-logos
{
	position:absolute;
	right:139px;
	bottom:81px;
	z-index:5;
	display:none
}
	@media (min-width:1000px)
{
.branding-logos
{
	display:block
}

}
.file-video-youtube
{
	width:100%!important;
	height:100%!important;
	margin-bottom:2em
}
.file-video-youtube .media-youtube-video
{
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden
}
.file-video-youtube .media-youtube-video embed,.file-video-youtube .media-youtube-video iframe,.file-video-youtube .media-youtube-video object
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.file-video-vimeo
{
	width:100%!important;
	height:100%!important;
	margin-bottom:2em
}
.file-video-vimeo .media-vimeo-video
{
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden
}
.btn-attachment a,a.btn,a.btn-arrow
{
	font-size:.667em;
	letter-spacing:.08em;
	color:#fff;
	padding:11px 13.33px 9px;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-transform:uppercase
}
.file-video-vimeo .media-vimeo-video embed,.file-video-vimeo .media-vimeo-video iframe,.file-video-vimeo .media-vimeo-video object
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.btn-attachment
{
	margin-bottom:20px;
	margin-right:20px
}
.btn-attachment a
{
	border-radius:4px;
	border:1px solid #0077C1;
	background:#0077C1;
	display:inline-block
}
.btn-attachment a:hover
{
	cursor:pointer;
	background:#055C92;
	border:1px solid #238ED0
}
.btn-attachment .file-icon
{
	display:none
}
.text-editor
{
	margin-bottom:30px
}
	@media (min-width:600px)
{
.text-editor
{
	margin-bottom:60px
}

}
.text-editor dd,.text-editor ol,.text-editor ul
{
	margin-bottom:20px;
	margin-left:40px
}
.text-editor li>ol,.text-editor li>ul
{
	margin-bottom:0
}
.text-editor li ol li,.text-editor li ul li,.text-editor ol li,.text-editor ul li
{
	list-style:disc
}
.text-center
{
	text-align:center
}
.text-right
{
	text-align:right
}
.text--white
{
	color:#fff
}
	a.btn,a.btn-arrow
{
	border-radius:4px;
	border:1px solid #0077C1;
	background:#0077C1;
	display:inline-block
}
	a.btn-arrow:after
{
	border-style:solid;
	border-width:4px 0 4px 8.7px;
	border-color:transparent transparent transparent #fff;
	content:'';
	display:inline-block;
	height:0;
	margin-left:9px;
	width:0
}
.highlight:before,a.btn-underline:after
{
	content:""
}
	@media (min-width:600px)
{
	a.btn-arrow:after
{
	border-width:5px 0 5px 8.7px;
	margin-left:10px
}

}
	a:focus.btn,a:focus.btn-arrow,a:hover.btn,a:hover.btn-arrow
{
	cursor:pointer;
	background:#055C92;
	border:1px solid #238ED0
}
	a.btn-underline
{
	font-size:.778em;
	line-height:2em;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-transform:uppercase;
	display:inline-block;
	color:#333
}
	@media (min-width:600px)
{
	a.btn-underline
{
	font-size:.762em;
	line-height:2.5em
}

}
	a.btn-underline:after
{
	display:block;
	margin:3px auto 0;
	border-bottom:1px solid #484848;
	text-align:center;
	width:50px
}
	a.btn-underline:hover
{
	color:#0077C1;
	cursor:pointer
}
.btn-underline.btn-underline--big-white
{
	font-size:.833em;
	line-height:1.533em;
	color:#fff
}
	@media (min-width:600px)
{
.btn-underline.btn-underline--big-white
{
	font-size:.857em;
	line-height:1.5em
}

}
.btn-underline.btn-underline--big-white:after
{
	border-bottom:1px solid #fff
}
.btn-underline.btn-underline--big-white:hover
{
	color:#0077C1;
	cursor:pointer
}
.btn-underline.btn-underline--big-white:hover:after
{
	border-bottom:1px solid #0077C1
}
.double-button
{
	clear:both;
	text-align:center;
	margin-bottom:24px
}
.double-button a
{
	margin:0 16px 16px
}
.double-button.double-button-overline
{
	border-top:1px solid #ebebeb;
	margin-top:40px;
	padding-top:40px
}
.icon-star-wrapper
{
	margin-bottom:20px
}
	#node-191 .icon-star-wrapper
{
	display:none
}
.icon-star-gold,.icon-star-white
{
	background-image:url();
	background-size:20px 20px;
	width:20px;
	height:20px;
	display:inline-block;
	margin-right:4px
}
.icon-right-arrow
{
	background:url() no-repeat;
	background-size:26px 50px;
	width:26px;
	height:50px;
	transition:ease-in-out .2s
}
.icon-right-arrow:focus,.icon-right-arrow:hover
{
	background:url() no-repeat;
	background-size:26px 50px;
	width:26px;
	height:50px
}
	#slidepanel
{
	color:#fff
}
	#slidepanel .item
{
	position:relative;
	display:table;
	width:100%
}
	@media (max-width:767px)
{
	#slidepanel h2.hdr-four,#slidepanel p
{
	display:none
}
	#slidepanel .hdr-one
{
	font-size:37px
}

}
	@media (max-width:479px)
{
	#slidepanel .hdr-one
{
	font-size:30px
}

}
.heropanelimagetext-short,.heropanelimagetext-tall
{
	clear:both;
	position:relative;
	display:table;
	width:100%;
	color:#fff
}
.heropanelimagetext-short .hdr-two,.heropanelimagetext-tall .hdr-two
{
	margin-bottom:20px;
	font-style:italic
}
.heropanelimagetext-short a.btn-arrow,.heropanelimagetext-tall a.btn-arrow
{
	margin-top:20px
}
.heropanelimagetext-short
{
	height:515px
}
.heropanelimagetext-tall
{
	height:600px
}
.slidepanel-content
{
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
	padding:20px
}
.slidepanel-text
{
	margin-top:36%;
	margin-right:0;
	max-width:100%;
	float:right;
	text-align:right;
	background-color:rgba(0,0,0,.5);
	border-radius:0;
	padding:10px
}
.slidepanel-text .hdr-one
{
	margin-bottom:10px;
	text-align:-webkit-right;
	font-family:"ITC Legacy Serif W01",Georgia,serif;
	font-size:36px;
	letter-spacing:.058em;
	text-transform:uppercase
}
	#ui-datepicker-div,.nav-primary,.pager li,a.btn-prevnext,form .form-text,form label,form textarea
{
	font-family:lane_-_narrowregular,Arial,sans-serif
}
.slidepanel-text p
{
	max-width:855px;
	text-align:-webkit-right
}
	@media (max-width:1199px)
{
.slidepanel-text p
{
	display:none
}

}
.getting-here-home
{
	display:none
}
	@media (min-width:1100px)
{
.getting-here-home
{
	display:block
}
.getting-here-home .slidepanel-text
{
	max-width:500px;
	margin-left:4%
}
.heropaneltext .hdr-four,.heropaneltext h1,.heropaneltext p
{
	width:60%
}

}
	@media (min-width:1300px)
{
.getting-here-home .slidepanel-text
{
	max-width:600px;
	margin-left:10%
}

}
.heropanelimage
{
	overflow:hidden
}
.heropanelimage .inner-ratio
{
	position:relative;
	padding-bottom:33.33%;
	height:0
}
.heropaneltext
{
	background:#33424f;
	color:#fff;
	padding-top:80px;
	padding-bottom:40px
}
.ctatext-wrapper
{
	clear:both;
	padding-top:60px;
	padding-bottom:35px
}
	@media (max-width:600px) and (min-width:300px)
{
.ctatext-wrapper
{
	padding-top:20px;
	padding-bottom:20px
}

}
.ctatext-wrapper .hdr-two
{
	margin-bottom:20px;
	font-style:italic
}
.ctatext-buildadventure.ctatext-wrapper
{
	background:#f2f2f2
}
.ctatext-text
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:80%
}
	@media (min-width:1200px)
{
.ctatext-text
{
	width:900px
}

}
.highlight
{
	position:relative;
	overflow:hidden;
	width:100%
}
.highlight:before
{
	display:block;
	padding-top:66.66%
}
	@media (min-width:1000px)
{
.highlight-panels li
{
	width:50%;
	float:left
}
	#node-56 .highlight-panels li:first-child,#node-6 .highlight-panels li:first-child
{
	width:100%
}
	#node-56 .highlight-panels li:first-child:before,#node-6 .highlight-panels li:first-child:before
{
	padding-top:33.3333%
}

}
	@media (min-width:1351px)
{
	#node-56 .highlight-panels li:first-child p,#node-6 .highlight-panels li:first-child p
{
	width:60%;
	margin-left:20%;
	margin-right:20%
}

}
	@media (min-width:1000px)
{
	#node-57 .highlight-panels li:first-child,#node-68 .highlight-panels li:first-child
{
	width:100%
}
	#node-57 .highlight-panels li:first-child:before,#node-68 .highlight-panels li:first-child:before
{
	padding-top:50%
}

}
	@media (min-width:1300px)
{
	#node-57 .highlight-panels li:first-child,#node-68 .highlight-panels li:first-child
{
	width:100%
}
	#node-57 .highlight-panels li:first-child:before,#node-68 .highlight-panels li:first-child:before
{
	padding-top:33.3333%
}

}
.experience-thumblist.highlight-panels li:first-child:before,.experience-thumblist.highlight-panels li:nth-child(n+2):before
{
	padding-top:100%
}
.experience-thumblist.highlight-panels li:nth-child(n+2)
{
	width:50%;
	float:left
}
.activities-list
{
	overflow:hidden;
	margin-bottom:90px
}
.activities-list.highlight-panels li:before
{
	padding-top:50%
}
.packagebyexperience-list
{
	overflow:hidden
}
.packagebyexperience-list.highlight-panels li:nth-child(1):before
{
	padding-top:72.25%
}
	@media (min-width:1000px)
{
.experience-thumblist.highlight-panels li:first-child
{
	width:50%
}
.experience-thumblist.highlight-panels li:nth-child(n+2)
{
	width:25%
}
.packagebyexperience-list.highlight-panels li:nth-child(1) p
{
	display:block
}

}
	@media (min-width:700px)
{
.packagebyexperience-list.highlight-panels li:nth-child(2),.packagebyexperience-list.highlight-panels li:nth-child(3)
{
	width:50%;
	float:left
}
.packagebyexperience-list.highlight-panels li:nth-child(2):before,.packagebyexperience-list.highlight-panels li:nth-child(3):before
{
	padding-top:67.08%
}

}
	@media (min-width:1000px)
{
.packagebyexperience-list.highlight-panels li:nth-child(1)
{
	width:65%
}
.packagebyexperience-list.highlight-panels li:nth-child(2),.packagebyexperience-list.highlight-panels li:nth-child(3)
{
	width:35%;
	float:none
}

}
.bloglist-highlight
{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	transition:ease-in-out .2s;
	background:rgba(51,66,79,.6)
}
.bloglist-highlight:hover
{
	background:rgba(51,66,79,.3)
}
.bloglist-content
{
	color:#fff;
	position:absolute;
	top:50%;
	left:0;
	right:0
}
.highlight-background,.highlight-background-static,.highlight-content,a.highlight-hotspot
{
	position:absolute;
	left:0;
	top:0;
	right:0
}
.bloglist-text
{
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	overflow:hidden;
	width:50%;
	margin-left:25%;
	text-align:center
}
.highlight-background-static
{
	bottom:0;
	background:rgba(51,66,79,.8)
}
	a.highlight-hotspot
{
	z-index:1;
	bottom:0
}
.highlight-background
{
	background:rgba(9,43,72,.8);
	-webkit-transition:-webkit-transform .4s;
	transition:transform .4s
}
.highlight-content
{
	color:#fff;
	text-align:center;
	padding-left:10%;
	padding-right:10%;
	-webkit-transition:-webkit-transform .6s;
	transition:transform .6s
}
	@media (min-width:1400px)
{
.highlight-content
{
	padding-left:20%;
	padding-right:20%
}

}
.highlight-content .hdr-four
{
	margin-bottom:14px;
	padding-top:4px;
	text-align:center
}
.highlight-content .hdr-two
{
	line-height:1em;
	margin-bottom:16px
}
.highlight-content p
{
	display:none;
	font-size:.952em;
	line-height:1.2em
}
	@media (min-width:1351px)
{
.highlight-content p
{
	display:block
}

}
.highlight-content .fadeitem
{
	opacity:0;
	-webkit-transition:opacity .6s .4s;
	transition:opacity .6s .4s
}
.activities-list .highlight-content
{
	padding-left:5%;
	padding-right:5%
}
	@media (min-width:500px) and (max-width:1399px)
{
.activities-list .highlight-content
{
	padding-left:10%;
	padding-right:10%
}

}
	@media (min-width:1400px)
{
.activities-list .highlight-content
{
	padding-left:15%;
	padding-right:15%
}

}
.activities-list .highlight-content .hdr-four
{
	font-size:10px;
	padding-top:7px
}
	@media (min-width:500px) and (max-width:1099px)
{
.activities-list .highlight-content .hdr-four
{
	font-size:13px;
	padding-top:5px
}

}
	@media (min-width:700px) and (max-width:999px)
{
.highlight-content p
{
	display:block
}
.activities-list .highlight-content .hdr-four
{
	font-size:16px;
	padding-top:3px
}

}
	@media (min-width:1100px) and (max-width:1199px)
{
.activities-list .highlight-content .hdr-four
{
	font-size:14px;
	padding-top:4px
}

}
	@media (min-width:1200px)
{
.activities-list .highlight-content .hdr-four
{
	font-size:16px;
	padding-top:3px
}

}
	@media (max-width:1099px)
{
.activities-list .highlight-content .hdr-two
{
	font-size:34px
}

}
.packagebyexperience-list .highlight-content
{
	padding-left:5%;
	padding-right:5%
}
	@media (max-width:479px)
{
.packagebyexperience-list .highlight-content .hdr-four
{
	font-size:11px
}
.packagebyexperience-list .highlight-content .hdr-two
{
	display:none
}

}
	@media (min-width:480px) and (max-width:1199px)
{
.packagebyexperience-list .highlight-content .hdr-four
{
	font-size:14px
}

}
.highlight.active .highlight-content .fadeitem
{
	opacity:1
}
.highlight.active a.btn-arrow
{
	background:#055C92
}
.calloutvisual
{
	text-align:center;
	position:relative;
	background-color:#f2f2f2;
	text-shadow:0 1px 6px rgba(255,255,255,.5)
}
	@media (max-width:479px)
{
.calloutvisual
{
	display:none
}

}
.calloutvisual .text--white
{
	text-shadow:0 1px 6px rgba(0,0,0,.5)
}
.calloutvisual .inner-ratio
{
	position:relative;
	padding-bottom:54.05%;
	height:0
}
.calloutvisual-ratio-content
{
	position:absolute;
	width:90%;
	top:50%;
	left:5%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	right:0
}
	@media (min-width:1000px)
{
.calloutvisual-ratio-content
{
	width:70%;
	left:15%
}

}
	@media (min-width:1200px)
{
.calloutvisual-ratio-content
{
	width:50%;
	left:25%
}

}
.calloutvisual-ratio-content .hdr-two
{
	margin-bottom:23px;
	font-style:italic
}
.calloutvisual-ratio-content p
{
	display:none
}
	@media (min-width:900px)
{
.calloutvisual-ratio-content p
{
	display:block
}

}
.offerinquiry-form
{
	display:none
}
.pager,.pager-wrapper
{
	display:inline-block;
	text-align:center
}
	@media (min-width:768px)
{
.offerinquiry-form
{
	background:#ebebeb;
	margin-left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	margin-right:0;
	padding:30px 45px
}
.offerinquiry-form form .form-text,.offerinquiry-form form .form-textarea,.offerinquiry-form form .form-textarea-wrapper
{
	width:100%
}

}
.pager-wrapper
{
	margin:65px auto 0;
	width:100%
}
	ul.pager li
{
	margin-left:.5em
}
.pager-first,.pager-last,.pager-next,.pager-previous
{
	text-transform:uppercase;
	font-size:75%;
	margin-top:7px
}
.pager li
{
	float:left;
	display:block;
	margin-bottom:10px
}
.pager a,.pager li.pager-current
{
	display:block;
	color:#33424f;
	border-radius:2px;
	border:1px solid #33424f;
	padding:6px 14px;
	white-space:nowrap
}
.pager a:hover,.pager li.pager-current
{
	background:#33424f;
	color:#fff
}
.blog-prev-next
{
	display:inline-block;
	width:100%;
	text-align:center;
	padding-top:60px;
	margin-top:40px;
	border-top:1px solid #ebebeb
}
	a.btn-prevnext
{
	margin-left:6px;
	margin-right:6px;
	font-size:.952em;
	color:#33424f;
	border-radius:2px;
	border:1px solid #33424f;
	padding:6px 14px;
	white-space:nowrap
}
	a:hover.btn-prevnext
{
	background:#33424f;
	color:#fff
}
	@media only screen and (max-width:767px)
{
	table.responsive-table tbody,table.responsive-table td,table.responsive-table th,table.responsive-table thead,table.responsive-table tr
{
	display:block
}
	table.responsive-table thead tr
{
	position:absolute;
	top:-9999px;
	left:-9999px
}
	table.responsive-table tr
{
	border:1px solid #ccc
}
	table.responsive-table tr:nth-of-type(odd)
{
	background:#f9f9f9
}
	table.responsive-table tr td
{
	border:none;
	border-bottom:1px solid #ccc;
	border-top:none;
	position:relative;
	padding-left:37%;
	text-align:right
}
	table.responsive-table td:before
{
	position:absolute;
	top:14px;
	left:10px;
	padding-right:10px;
	white-space:nowrap
}
	table.responsive-table td:nth-of-type(1):before,table.responsive-table td:nth-of-type(2):before,table.responsive-table td:nth-of-type(3):before,table.responsive-table td:nth-of-type(4):before,table.responsive-table td:nth-of-type(5):before,table.responsive-table td:nth-of-type(6):before,table.responsive-table td:nth-of-type(7):before
{
	content:attr(data-heading);
	font-weight:700;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-transform:uppercase;
	font-size:16px
}

}
.logo a,.logo_main a
{
	display:block;
	text-indent:-999em;
	position:absolute;
	top:0;
	left:0
}
.logo a
{
	width:150px;
	height:83px;
	background:url(../img/logo_g.png) no-repeat;
	background-size:cover;
	margin-top:-15px;
	margin-left:16px
}
.logo_main a
{
	width:100px;
	height:56px;
	background:url(../img/logo_main.jpg) no-repeat;
	background-size:cover;
	margin-top:-6px;
	margin-left:140px
}
	@media (min-width:960px)
{
.logo a
{
	width:179px;
	height:176px
}

}
	@media (min-width:1351px)
{
.logo a
{
	margin-left:-4px;
	margin-top:4px;
	width:250px;
	height:141px
}

}
.no-svg .logo a
{
	background:url(../img/logo_g.png) no-repeat
}
	#nav-primary-wrapper
{
	position:relative
}
	@media (min-width:960px)
{
	#nav-primary-wrapper
{
	width:100%;
	margin:0 auto
}

}
	@media (min-width:960px) and (max-width:1350px)
{
	#nav-primary-wrapper
{
	padding-left:20px;
	padding-right:20px
}

}
	@media (min-width:960px) and (min-width:1351px)
{
	#nav-primary-wrapper
{
	width:1294px
}

}
	@media (max-width:959px)
{
	#nav-primary-wrapper
{
	background:rgba(255,255,255,.8)
}
.mobile-toggle
{
	color:#333;
	position:absolute;
	right:20px;
	top:14px;
	cursor:pointer;
	text-indent:-54px;
	font-size:16px;
	line-height:38px;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	display:block;
	width:36px;
	height:36px
}
.mobile-toggle:hover
{
	color:#999
}
.mobile-toggle span
{
	position:absolute;
	top:48%;
	left:8px;
	display:block;
	width:71%;
	height:7.5%;
	background-color:#333;
	font-size:0;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.mobile-toggle span:after,.mobile-toggle span:before
{
	position:absolute;
	left:0;
	width:100%;
	height:100%;
	background:#333;
	content:''
}
.mobile-toggle span:before
{
	-webkit-transform:translateY(-300%);
	-moz-transform:translateY(-250%);
	-o-transform:translateY(-250%);
	-ms-transform:translateY(-250%);
	transform:translateY(-250%);
	-moz-transition:-moz-transform .2s;
	-o-transition:-o-transform .2s;
	-webkit-transition:-webkit-transform .2s;
	transition:transform .2s
}
.mobile-toggle span:after
{
	-webkit-transform:translateY(300%);
	-moz-transform:translateY(250%);
	-o-transform:translateY(250%);
	-ms-transform:translateY(250%);
	transform:translateY(250%);
	-moz-transition:-moz-transform .2s;
	-o-transition:-o-transform .2s;
	-webkit-transition:-webkit-transform .2s;
	transition:transform .2s
}
.mobile-toggle:hover span,.mobile-toggle:hover span:after,.mobile-toggle:hover span:before
{
	background:#999
}

}
.nav-footer li:after,.pinpoint:before
{
	content:""
}
	@media (min-width:960px)
{
.mobile-toggle
{
	display:none
}

}
.mobile-toggle.open span
{
	background-color:transparent
}
.mobile-toggle.open span:before
{
	-webkit-transform:translateY(0) rotate(45deg);
	-moz-transform:translateY(0) rotate(45deg);
	-o-transform:translateY(0) rotate(45deg);
	-ms-transform:translateY(0) rotate(45deg);
	transform:translateY(0) rotate(45deg)
}
.mobile-toggle.open span:after
{
	-webkit-transform:translateY(0) rotate(-45deg);
	-moz-transform:translateY(0) rotate(-45deg);
	-o-transform:translateY(0) rotate(-45deg);
	-ms-transform:translateY(0) rotate(-45deg);
	transform:translateY(0) rotate(-45deg)
}
.nav-primary
{
	text-transform:uppercase;
	letter-spacing:.05em
}
	@media (max-width:959px)
{
.nav-primary
{
	display:none;
	height:77vh;
	padding:40px 20px 20px;
	background:rgba(255,255,255,.95);
	text-align:center;
	position:absolute;
	top:60px;
	left:0;
	right:0;
	z-index:-1
}
.nav-primary li
{
	padding-top:3px;
	padding-bottom:3px
}
.nav-primary a
{
	display:inline-block
}

}
	@media (min-width:960px)
{
.nav-primary
{
	float:right
}
.nav-primary li
{
	display:inline-block;
	margin-left:20px
}
.nav-primary li:after
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	content:"";
	border-bottom:3px solid transparent;
	text-align:center;
	width:auto
}
.nav-primary li a
{
	font-size:14px;
	padding:0 4px;
	color:#1F1F1F;
	text-align:left
}
.nav-primary ul
{
	display:none
}
.nav-primary li:hover>ul
{
	display:block
}
.nav-primary ul:after
{
	content:"";
	clear:both;
	display:block
}
.nav-primary ul li
{
	display:inline-block;
	margin:auto
}
.nav-primary ul li a
{
	display:block;
	color:#1F1F1F;
	text-decoration:none;
	margin-bottom:-20px
}
.nav-primary ul
{
	background:#FFF;
	padding:0;
	position:absolute;
	border:none;
	margin-top:3px
}
	nav#nav-primary-wrapper ul ul li
{
	float:none;
	position:relative
}
.nav-primary ul li a:hover
{
	color:#0077C1
}
.nav-primary li a:focus
{
	color:#999
}
	li.prime-main-link
{
	margin-top:50px
}
	li.prime-main-link:hover:after
{
	border-bottom:3px solid #0077C1
}

}
	li.nav-logo-center
{
	display:none
}
	@media (min-width:960px)
{
	li.prime-quick-link
{
	position:absolute;
	-webkit-transform:translateY(25px);
	transform:translateY(-70px);
	-ms-transform:translateY(25px);
	font-style:italic
}
	li.prime-quick-link a:hover
{
	color:#0077C1
}
.is-sticky .nav-primary
{
	float:none;
	margin:0 auto;
	text-align:center;
	height:130px
}
.is-sticky .nav-primary li
{
	margin-left:8px;
	margin-right:8px
}
.is-sticky .mega-dropdown
{
	width:498px
}
.is-sticky .mega-dropdown li
{
	margin-left:0!important;
	margin-right:0
}

}
	@media (min-width:960px) and (min-width:1100px)
{
.is-sticky .nav-primary li
{
	margin-left:10px;
	margin-right:10px
}

}
	@media (min-width:960px) and (max-width:1099px)
{
.is-sticky .nav-primary li a
{
	font-size:9px;
	padding-left:7px;
	padding-right:7px
}
.nav-primary li a
{
	font-size:10px;
	padding:10px 4px
}
.lanuge
{
	left:865px!important
}
.copyright
{
	text-align:-webkit-center!important
}
.footer-social-media
{
	text-align:center!important;
	-webkit-transform:translate(0)!important;
	transform:translate(0)!important;
	margin-top:10px!important
}
.nav-footer,.nav-footer li
{
	margin-left:0!important
}

}
	@media (min-width:960px)
{
.is-sticky .nav-primary li.active-exp
{
	margin-left:-37px
}
.is-sticky .logo a,.is-sticky li.quick-link-contact,.is-sticky li.quick-link-news
{
	display:none
}
.is-sticky ul li.nav-logo-center
{
	display:inline-block;
	margin-left:15px;
	margin-right:15px;
	-webkit-transform:translateY(-50px);
	transform:translateY(-50px)
}
.is-sticky .nav-logo-center a
{
	display:block;
	width:190px;
	height:100px;
	background:url(../img/logo_g.png) no-repeat;
	background-size:cover;
	text-indent:-999em
}
.is-sticky li.prime-main-link,.is-sticky li.prime-quick-link
{
	margin-top:40px
}
.is-sticky li.prime-quick-link
{
	position:relative;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	font-style:normal
}

}
	@media (min-width:960px) and (max-width:1350px)
{
.quick-link-news
{
	right:235px
}
.quick-link-contact
{
	right:215px
}
.quick-link-inquire
{
	right:20px
}

}
.node-type-accommodation-detail .active-accom:after,.node-type-accommodation-list,.node-type-activities .active-act:after,.node-type-experience .active-exp:after,.page-node-23 .active-act:after,.page-node-68 .active-exp:after
{
	border-bottom:3px solid #0077C1
}
.page-node-56 .active-accom:after
{
	border-bottom:3px solid transparent
}
.page-node-56 .active-resort:after
{
	border-bottom:3px solid #0077C1
}
.page-node-117 .active-accom:after
{
	border-bottom:3px solid transparent
}
.page-node-75 .active-here:after
{
	border-bottom:3px solid #0077C1
}
.node-type-blog .quick-link-news:after,.page-node-57 .quick-link-news:after,.page-node-84 .quick-link-inquire:after
{
	border-bottom:1px solid #0077C1
}
.social-sharing
{
	margin-top:20px
}
.social-sharing.btn
{
	padding:9px 6px 5px 14px
}
.social-sharing.btn:focus .social-sharing.btn:visited,.social-sharing.btn:hover
{
	cursor:default;
	background:#0077C1
}
.social-sharing .social-title
{
	font-size:18px;
	display:inline-block;
	transform:translateY(-4px);
	margin-right:6px
}
.social-sharing ul
{
	display:inline-block;
	margin:0
}
.social-sharing li
{
	display:inline-block;
	margin-left:6px;
	margin-right:6px
}
	form label
{
	font-size:17px;
	text-transform:uppercase;
	display:block
}
	form label.option
{
	font-size:80%;
	text-transform:none
}
	form .form-text,form textarea
{
	padding:9px 11px 8px;
	font-size:18px;
	font-weight:300;
	color:#999;
	border:1px solid #b2b1b1;
	transform:border .3s ease-in-out
}
	form .form-text,form .form-textarea-wrapper,form textarea
{
	width:100%
}
	@media (min-width:768px)
{
	form .form-text,form .form-textarea-wrapper,form textarea
{
	width:50%
}

}
	form .form-checkbox,form .form-radio
{
	float:left;
	margin-top:6px;
	margin-right:10px;
	margin-left:1em
}
	form .webform-container-inline .form-checkbox,form .webform-container-inline .form-radio
{
	float:none;
	margin-left:0;
	padding-top:1px
}
	form .webform-container-inline label
{
	display:inline!important
}
	form .form-item
{
	margin-bottom:1.5em
}
	form .form-item label
{
	display:block;
	margin-bottom:.25em
}
	form .form-type-checkbox,form .form-type-radio
{
	margin-bottom:.5em
}
	form .description
{
	color:#333;
	font-weight:300;
	font-size:20px;
	margin-top:24px
}
	form button,form input[type=button],form input[type=reset],form input[type=submit],form input[type=search]
{
	border-radius:4px;
	border:1px solid #0077C1;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	font-size:.667em;
	letter-spacing:.08em;
	color:#fff;
	background:#0077C1;
	padding:10px 24.33px 9px;
	text-transform:uppercase;
	display:inline-block;
	outline:0;
	cursor:pointer;
	-webkit-appearance:none;
	transition:ease-in-out .2s;
	margin-left:10%
}
	form button:focus,form button:hover,form input[type=button]:focus,form input[type=button]:hover,form input[type=reset]:focus,form input[type=reset]:hover,form input[type=submit]:focus,form input[type=submit]:hover,form input[type=search]:focus,form input[type=search]:hover
{
	cursor:pointer;
	background:#055C92;
	border:1px solid #238ED0
}
	form input[type=search]
{
	background:#fff;
	color:#333;
	border:2px solid #CCC;
	margin-bottom:2em
}
	form input[type=search]:hover
{
	background:#fff
}
	form #edit-submitted-message:focus,form input:focus,form textarea:focus
{
	outline-style:none;
	border:1px solid #f8cd70
}
	form span.form-required
{
	color:#0077C1
}
	form::-webkit-input-placeholder
{
	color:#b2b1b1;
	text-transform:uppercase
}
	form:-moz-placeholder
{
	color:#b2b1b1;
	text-transform:uppercase
}
	form::-moz-placeholder
{
	color:#b2b1b1;
	text-transform:uppercase
}
	form:-ms-input-placeholder
{
	color:#b2b1b1;
	text-transform:uppercase
}
	input[type=text],textarea
{
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border-radius:0
}
	button[disabled],input[disabled]
{
	cursor:default
}
.form-item-mollom-captcha
{
	max-width:635px;
	margin:20px auto
}
	#booking-widget
{
	position:relative;
	background:#ebebeb;
	padding:48px 30px 35px;
	margin-bottom:30px
}
	@media (min-width:600px) and (max-width:999px)
{
	#booking-widget
{
	padding-left:25%;
	padding-right:25%;
	margin-bottom:60px
}

}
	@media (max-width:999px)
{
	#booking-widget
{
	margin-left:-20px;
	margin-right:-20px
}

}
	@media (min-width:1000px)
{
	#booking-widget
{
	max-width:398px;
	margin-top:97px;
	margin-bottom:80px
}

}
	#booking-widget .hdr-seven
{
	line-height:1em;
	color:#333;
	text-align:center;
	margin-bottom:32px
}
	#booking-widget .form-item-arrive-date .description,#booking-widget .form-item-arrive-date label
{
	display:none
}
	#booking-widget .form-item-people,#booking-widget .form-item-rooms
{
	width:48%;
	float:left
}
	#booking-widget .form-item-people
{
	margin-right:2%
}
	#booking-widget .form-item-rooms label
{
	padding-left:8px
}
	#booking-widget .form-item
{
	margin-bottom:0
}
	#booking-widget .form-text
{
	margin-bottom:24px;
	width:100%;
	height:40px;
	font-size:14px;
	border:1px solid #fff;
	padding-top:10px
}
	#booking-widget .form-text:focus
{
	border:1px solid #bfbfbf
}
	#booking-widget .form-text#edit-people,#booking-widget .form-text#edit-rooms
{
	margin-bottom:40px
}
	#booking-widget .form-text#edit-rooms
{
	margin-left:4%
}
	#booking-widget form label
{
	font-size:15px;
	color:#404040
}
	#booking-widget #edit-submit
{
	position:relative;
	left:50%;
	-webkit-tranform:translateX(-50%);
	transform:translateX(-50%)
}
	#ui-datepicker-div
{
	width:227px;
	font-size:15px;
	box-shadow:2px 2px 7px rgba(0,0,0,.3);
	color:#fff
}
.ui-datepicker .ui-datepicker-header
{
	padding:.5em 0;
	background:#0077C1
}
.ui-datepicker .ui-datepicker-title
{
	line-height:1.4em
}
.ui-datepicker .ui-datepicker-title span
{
	color:#333
}
.ui-datepicker .ui-datepicker-next span,.ui-datepicker .ui-datepicker-prev span
{
	margin-top:-5px
}
.ui-datepicker .ui-datepicker-title select
{
	font-size:.8em;
	color:#333
}
.ui-datepicker .ui-state-default
{
	background:#ebebeb
}
.ui-datepicker .ui-state-active
{
	background:#0077C1;
	color:#fff
}
.ui-datepicker .ui-state-highlight
{
	background:#055C92
}
.ui-datepicker-calendar thead span
{
	color:#0077C1
}
.ctacard-wrapper
{
	width:100%;
	margin:0 auto
}
	@media (max-width:1350px)
{
.ctacard-wrapper
{
	padding-left:20px;
	padding-right:20px
}

}
	@media (min-width:1351px)
{
.quick-link-news
{
	right:330px
}
.quick-link-contact
{
	right:215px
}
.quick-link-inquire
{
	right:0
}
.ctacard-wrapper
{
	width:1294px
}

}
	@media (min-width:1000px)
{
.ctacard-wrapper
{
	clear:both;
	overflow:hidden;
	padding-top:60px;
	padding-bottom:30px
}

}
.ctacard-card
{
	background:#f2f2f2;
	overflow:hidden;
	position:relative
}
	@media (max-width:699px)
{
.ctacard-card
{
	max-width:400px;
	margin:0 auto 30px
}

}
	@media (min-width:700px) and (max-width:999px)
{
.ctacard-card
{
	float:left;
	width:48%;
	margin:0 1% 30px
}

}
.ctacard-card .hdr-four
{
	font-style:normal;
	letter-spacing:.1em;
	padding-bottom:10px;
	border-bottom:1px solid #333;
	text-align:left;
	font-size:.75em
}
.ctacard-card .inner-ratio
{
	position:relative;
	padding-bottom:75%;
	height:0
}
.ctacard-card .inner-ratio img
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.ctacard-text
{
	padding:30px 30px 60px
}
.ctacard-text p
{
	margin-bottom:40px;
	font-size:.944em;
	line-height:1.412em;
	text-align:justify
}
	@media (min-width:600px)
{
.ctacard-text p
{
	font-size:.7865em;
	line-height:1.5em;
	font-family:lato;
	font-weight:400
}

}
.copyright,.nav-footer,ul.resortmap-facilities li a
{
	font-family:lane_-_narrowregular,Arial,sans-serif
}
.ctacard-button
{
	text-align:center;
	position:absolute;
	bottom:30px;
	width:100%;
	margin:0 auto
}
.ctacard-card:nth-of-type(3),.sidebar .ctacard-card
{
	display:block
}
	@media (min-width:1000px)
{
.ctacard-wrapper .ctacard-card
{
	max-width:400px;
	width:30%;
	float:left;
	margin-bottom:5%
}
.ctacard-wrapper .ctacard-card:nth-child(2)
{
	margin-left:5%;
	margin-right:5%
}
.ctacard-card:nth-of-type(3),.sidebar .ctacard-card
{
	display:block
}

}
.relaischateaux
{
	background:#f2f2f2;
	text-align:center;
	padding-top:60px;
	padding-bottom:60px
}
.relaischateaux p
{
	margin:0 auto;
	width:80%
}
	@media (min-width:1200px)
{
.relaischateaux p
{
	width:50%
}

}
	@media (min-width:1400px)
{
.relaischateaux p
{
	width:40%
}

}
.relaischateaux img
{
	width:auto;
	height:auto;
	margin-left:auto;
	margin-right:auto
}
	@media (min-width:1100px)
{
.newsletter
{
	padding-bottom:20px;
	background:#f2f2f2;
	overflow:hidden
}

}
.newsletter .highlight-background
{
	background:rgba(9,43,72,.8)
}
.newsletter-thumb
{
	display:none
}
	@media (min-width:1100px)
{
.newsletter-thumb
{
	display:block;
	width:25%;
	float:left
}
.newsletter-thumb .inner-ratio
{
	position:relative;
	padding-bottom:100%;
	height:0
}
.newsletter-subscribe
{
	width:50%;
	float:left
}
.newsletter-subscribe .inner-ratio
{
	position:relative;
	padding-bottom:53%;
	height:0
}

}
.newsletter-subscribe
{
	text-align:center;
	position:relative;
	min-height:280px
}
.newsletter-subscribe .hdr-seven
{
	color:#fff;
	margin-bottom:9px
}
.newsletter-subscribe form
{
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	top:5%
}
	@media (max-width:599px)
{
.newsletter-subscribe img
{
	display:none
}
.newsletter-subscribe form
{
	top:15%
}

}
	@media (min-width:600px)
{
.newsletter-subscribe .hdr-seven
{
	margin-bottom:20px
}
.newsletter-subscribe form
{
	top:25%
}

}
.newsletter-subscribe input[type=submit]
{
	display:block;
	margin:14px auto 0
}
.newsletter-subscribe input[type=text],.newsletter-subscribe input[type=email]
{
	background:#fff;
	padding:6px 12px 4px;
	font-size:16px;
	line-height:1.8em;
	color:#999;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	letter-spacing:.04em;
	margin-bottom:6px;
	border:none;
	margin-left:0
}
	@media (min-width:1400px)
{
.newsletter-subscribe input[type=text],.newsletter-subscribe input[type=email]
{
	width:225px
}

}
.newsletter-subscribe input[type=text]:focus,.newsletter-subscribe input[type=email]:focus
{
	background:#ebebeb
}
	@media (min-width:1100px)
{
.inner-ratio img
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}

}
.testimonial
{
	background:#f2f2f2;
	clear:both;
	text-align:center;
	padding-top:45px;
	padding-bottom:32px
}
.testimonial.testimonial-darker
{
	background:#33424f;
	color:#fff
}
	@media (min-width:600px)
{
.testimonial
{
	padding-top:70px;
	padding-bottom:58px
}
.award-logos
{
	padding-top:25px;
	padding-bottom:37px
}

}
.testimonial blockquote
{
	margin-left:auto;
	margin-right:auto;
	width:90%
}
	@media (min-width:1200px)
{
.testimonial blockquote
{
	width:70%
}

}
	@media (min-width:1400px)
{
.testimonial blockquote
{
	width:60%
}

}
	#footer .testimonial
{
	padding-top:25px
}
.award-logos
{
	clear:both;
	text-align:center;
	font-size:0;
	line-height:normal
}
.award-logos img
{
	width:175px;
	height:150px;
	margin-left:auto;
	margin-right:auto
}
	@media (min-width:1100px)
{
.award-logos
{
	width:100%;
	margin:0 auto;
	padding-top:40px;
	padding-left:5%;
	padding-right:5%
}

}
	@media (min-width:1100px) and (max-width:1350px)
{
.award-logos
{
	padding-left:20px;
	padding-right:20px
}

}
	@media (min-width:1100px) and (min-width:1351px)
{
.award-logos
{
	width:1294px
}

}
	li.award-logo-thumb
{
	display:inline-block;
	width:100%
}
	@media (min-width:600px)
{
	li.award-logo-thumb
{
	width:33.33333%
}

}
.nav-footer
{
	text-transform:uppercase;
	letter-spacing:.03em;
	font-size:.667em;
	display:block
}
	@media (max-width:1099px)
{
.nav-footer li
{
	display:block;
	text-align:center;
	padding-top:13px;
	padding-bottom:10px;
	border-bottom:1px solid #4d4d4d
}

}
	@media (min-width:1100px)
{
	li.award-logo-thumb
{
	width:20%
}
.nav-footer li
{
	display:inline-block;
	margin-left:43px
}
.nav-footer li:nth-child(1)
{
	margin-left:0
}

}
.nav-footer li:after
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px solid transparent;
	text-align:center;
	width:auto
}
.nav-footer li:hover:after
{
	border-bottom:1px solid #fff
}
.nav-footer a
{
	color:#fff;
	padding:0 4px
}
.nav-footer a:focus
{
	color:#999
}
	@media (min-width:1100px) and (max-width:1399px)
{
.nav-footer
{
	text-align:center
}
.nav-footer ul
{
	padding-top:24px
}

}
	@media (min-width:1400px)
{
.nav-footer
{
	width:82.68934%;
	float:left;
	margin-right:3.86399%
}
.nav-footer li
{
	-webkit-transform:translateY(21px);
	transform:translateY(21px)
}

}
.footer-social-media
{
	text-align:right;
	-webkit-transform:translate(-20px);
	transform:translate(-20px);
	margin-top:-20px;
	font-size:25px
}
.footer-social-media a
{
	color:#fff
}
.facebook :hover
{
	color:#3b5998
}
.gplus :hover
{
	color:#dc4e41
}
.youtube :hover
{
	color:#cd201f
}
.flickr :hover
{
	color:#0063dc
}
.footer-social-media li
{
	display:inline-block;
	margin-right:15px
}
.footer-social-media li:nth-child(1)
{
	margin-left:0
}
	@media (min-width:1100px) and (max-width:1399px)
{
.footer-social-media
{
	padding-top:0
}
.footer-social-media li
{
	-webkit-transform:translateY(23px);
	transform:translateY(23px)
}

}
	@media (min-width:1400px)
{
.footer-social-media
{
	width:15.44668%;
	float:right;
	margin-right:0;
	-webkit-transform:translateY(14px);
	transform:translateY(14px);
	padding-top:0;
	padding-bottom:4px;
	margin-top:-46px
}
.copyright
{
	width:100%;
	float:left;
	margin-left:0;
	margin-right:0;
	-webkit-transform:translateY(18px);
	transform:translateY(18px);
	margin-top:-10px
}

}
.icon-facebook,.icon-facebook-small,.icon-instagram,.icon-linkedin,.icon-pinterest-small,.icon-twitter,.icon-twitter-small
{
	display:block;
	transition:ease-in-out .2s
}
.copyright
{
	font-size:.571em;
	color:#fff;
	display:block;
	text-align:right
}
	@media (max-width:1099px)
{
.copyright
{
	padding:3px 20px 10px 0;
	background:#333
}

}
	@media (min-width:1100px) and (max-width:1399px)
{
.copyright
{
	text-align:center;
	padding-bottom:20px;
	padding-top:40px
}

}
.node--accommodation_detail #main .wrapper
{
	padding-top:80px
}
.amenities
{
	margin-bottom:30px;
	overflow:hidden
}
.amenities ul
{
	margin-left:20px
}
	@media (min-width:600px)
{
.amenities
{
	margin-bottom:54px
}
.amenities ul
{
	float:left;
	width:45%
}
.amenities-list-two
{
	padding-left:20px
}
.ratestable-list
{
	padding-left:20px;
	padding-right:20px
}

}
.header-underline.hdr-three
{
	padding-bottom:17px;
	border-bottom:2px solid #959595;
	margin-bottom:37px
}
.ratestable-detail table tr
{
	border-bottom:none
}
.ratestable-list table
{
	color:#fff;
	width:100%;
	max-width:1060px;
	margin:0 auto 44px
}
.ratestable-list table th
{
	vertical-align:middle;
	background:#959595;
	border-bottom:none;
	padding:15px
}
.ratestable-list table tr
{
	border-bottom:1px solid #c9c9c9
}
.ratestable-list table tr:nth-child(odd)
{
	background:#b3b3b3
}
.ratestable-list table tr:nth-child(even)
{
	background:#bdbdbd
}
	@media (min-width:600px)
{
.ratestable-list table td:nth-child(1),.ratestable-list table th:nth-child(1)
{
	padding-left:20px
}

}
.ratestable-button
{
	margin-bottom:80px;
	text-align:center
}
	#node-74>aside,.gettinghere-wrapper
{
	position:relative
}
	#node-75 article
{
	padding-bottom:0
}
	@media (max-width:799px)
{
	#node-75 .hide-small-map
{
	display:none
}

}
	@media (max-width:1149px)
{
	#node-75 .hide-med-map
{
	display:none
}

}
.gettinghere-intro
{
	overflow:hidden
}
.gettinghere-intro .keep-ratio
{
	position:relative;
	padding-bottom:52%;
	height:0
}
.gettinghere-regional
{
	overflow:hidden
}
.gettinghere-regional .keep-ratio
{
	position:relative;
	padding-bottom:53.3125%;
	height:0
}
	#offerinquiry-btn.btn-arrow.reveal:after,#offerinquiry-btn.btn-arrow:hover:after,.regional-arrow.btn-arrow:hover:after
{
	border-width:8.7px 5px 0;
	border-color:#fff transparent transparent;
	margin-left:8px
}
.gettinghere-global
{
	overflow:hidden
}
.gettinghere-global .keep-ratio
{
	position:relative;
	padding-bottom:55.5625%;
	height:0
}
.gettinghere-global a.active,.gettinghere-global a:after.active,.gettinghere-regional a.active,.gettinghere-regional a:after.active
{
	color:#0077C1
}
	@media (min-width:800px)
{
.gettinghere-overlay img
{
	opacity:0;
	transition:opacity .2s ease-in-out
}

}
.gettinghere-overlay img.active
{
	opacity:1
}
.resortmap-arial
{
	overflow:hidden;
	margin-bottom:25px
}
	@media (max-width:767px)
{
.resortmap-arial
{
	display:none
}

}
.resortmap-arial .keep-ratio
{
	position:relative;
	padding-bottom:66.375%;
	height:0
}
.resortmap-content
{
	color:#fff;
	position:absolute;
	z-index:1000;
	width:90%;
	top:5%;
	left:5%;
	right:5%
}
	@media (min-width:1500px)
{
.resortmap-content
{
	width:60%;
	left:20%
}

}
.resortmap-content .hdr-four
{
	text-align:center
}
	@media (max-width:1299px)
{
	#node-75 .hide-large-map
{
	display:none
}
.resortmap-content .hdr-four
{
	padding-bottom:16px;
	border-bottom:1px solid rgba(242,242,242,.9)
}

}
.resortmap-content .hdr-two
{
	display:none;
	text-align:center
}
	@media (min-width:1300px)
{
.resortmap-content .hdr-two
{
	display:block;
	padding-bottom:16px;
	border-bottom:1px solid rgba(242,242,242,.9)
}

}
	ul.resortmap-facilities
{
	width:100%
}
	ul.resortmap-facilities li a
{
	color:#fff;
	font-size:.667em;
	text-transform:uppercase;
	float:left
}
	@media (min-width:1500px)
{
	ul.resortmap-facilities
{
	float:left;
	width:20%;
	margin-right:6.666%
}
	ul.resortmap-facilities.last-list
{
	margin-right:0
}
	ul.resortmap-facilities li a
{
	float:none
}
	ul.resortmap-facilities li a.active,ul.resortmap-facilities li a:hover
{
	font-style:italic
}

}
	@media (min-width:768px) and (max-width:1099px)
{
	ul.resortmap-facilities li a
{
	margin:6px 26px 6px 0
}

}
	@media (min-width:1100px) and (max-width:1499px)
{
	ul.resortmap-facilities li a
{
	margin:6px 14px 6px 0;
	padding:5px 11px 4px;
	border:1px solid #fff;
	border-radius:3px
}
	ul.resortmap-facilities li a.active,ul.resortmap-facilities li a:hover
{
	border:1px solid #0077C1;
	background:#0077C1
}

}
.gettinghere-content
{
	color:#fff;
	position:absolute;
	top:59%;
	right:0;
	left:6%;
	width:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	z-index:1000
}
	@media (min-width:800px)
{
.gettinghere-content
{
	top:50%
}

}
	@media (max-width:1149px)
{
.gettinghere-content h1
{
	font-size:1.19em;
	font-style:italic;
	font-family:"ITC Legacy Serif W01",Georgia,serif
}

}
	@media (max-width:999px)
{
.gettinghere-content h1
{
	line-height:1em
}
.getting-here-canada
{
	font-size:12px
}

}
.keep-ratio .hdr-one,.keep-ratio .hdr-two
{
	margin-bottom:18px
}
.keep-ratio .hdr-one
{
	width:70%
}
.keep-ratio .hdr-two
{
	font-style:italic
}
.keep-ratio p
{
	margin-bottom:33px;
	width:72%
}
.keep-ratio a.btn-underline
{
	font-size:.762em;
	margin-right:40px;
	margin-bottom:22px
}
.gettinghere-overlay img
{
	position:absolute;
	top:0;
	left:0
}
	@media (min-width:1400px)
{
.gettinghere-global br
{
	display:none
}

}
.resortmap-pinpoints a
{
	color:#fff;
	display:inline-block
}
.resortmap-pinpoints a:hover
{
	color:#0077C1;
	cursor:pointer
}
.pinpoint,.pinpoint--north,.pinpoint--south
{
	position:absolute;
	z-index:1000;
	color:#fff;
	text-shadow:1px 1px 3px rgba(0,0,0,.5);
	font-size:.667em;
	opacity:0;
	transition:opacity .2s ease-in-out;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-transform:uppercase
}
.pinpoint:before
{
	display:inline-block;
	border-radius:20px;
	background:#fff;
	margin-right:10px;
	width:10px;
	height:10px;
	-webkit-transform:translateY(5px);
	transform:translateY(5px);
	border:5px solid #0077C1
}
.pinpoint--north:before,.pinpoint--south:before
{
	border-style:solid;
	content:'';
	display:inline-block;
	height:0;
	margin-right:9px;
	width:0
}
.pinpoint--south:before
{
	border-width:11px 8px 0;
	border-color:#0077C1 transparent transparent
}
.pinpoint--north:before
{
	border-width:0 8px 11px;
	border-color:transparent transparent #0077C1
}
.pinpoint--north.active,.pinpoint--south.active,.pinpoint.active
{
	opacity:1
}
	#node-84 article
{
	width:100%;
	margin-left:0
}
.hide-form-inputs
{
	display:none
}
.form-progress
{
	color:#0077C1;
	margin-right:20px
}
.bookadv-header
{
	display:block;
	margin-bottom:20px;
	background:#ebebeb
}
.bookadv-header:hover
{
	cursor:pointer
}
.bookadv-header h2
{
	display:inline-block;
	margin-bottom:0;
	font-size:.833em;
	line-height:1.533em;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-transform:uppercase;
	background-color:#ebebeb;
	padding:5px 10px 5px 20px
}
	@media (max-width:479px)
{
.form-progress
{
	margin-right:10px
}
.bookadv-header h2
{
	font-size:12px;
	padding-left:5px
}

}
	@media (min-width:600px)
{
.bookadv-header h2
{
	font-size:.857em;
	line-height:1.5em
}

}
.bookadv-header small
{
	font-family:lane_-_narrowregular,Arial,sans-serif;
	color:#999;
	margin-right:11px
}
	@media (max-width:479px)
{
.bookadv-header small
{
	margin-right:0
}

}
.bookadv-footer
{
	background:pink
}
.bookadv-section--contact .bookadv-header:hover
{
	cursor:default
}
.bookadv-option-image:hover,.owl-controls .owl-buttons div,.owl-controls .owl-page
{
	cursor:pointer
}
	@media (min-width:768px)
{
.bookadv-section--contact .bookadv-section-wrapper
{
	background:#ebebeb;
	margin-left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	margin-right:0;
	padding:30px 45px
}
.bookadv-section--contact .bookadv-section-wrapper .form-text,.bookadv-section--contact .bookadv-section-wrapper .form-textarea,.bookadv-section--contact .bookadv-section-wrapper .form-textarea-wrapper
{
	width:100%
}
.webform-client-form-84 .form-actions
{
	margin-left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	margin-top:30px
}

}
.form-item.webform-component--activities label,.form-item.webform-component--travel-preference label
{
	display:none
}
.bookadv-section--accommodations .bookadv-section-wrapper,.bookadv-section--activities .bookadv-section-wrapper,.bookadv-section--trip-planning .bookadv-section-wrapper
{
	overflow:hidden;
	max-height:0;
	opacity:0;
	-webkit-transition:opacity 1s .2s ease,max-height .5s ease;
	transition:opacity 1s .2s ease,max-height .5s ease
}
.bookadv-section--accommodations.is-open .bookadv-section-wrapper,.bookadv-section--activities.is-open .bookadv-section-wrapper,.bookadv-section--trip-planning.is-open .bookadv-section-wrapper
{
	opacity:1;
	max-height:5000px
}
.bookadv-options-wrapper
{
	font-size:0;
	line-height:normal;
	margin:0 auto 40px
}
	@media (max-width:660px)
{
.bookadv-options-wrapper
{
	width:300px
}

}
	@media (min-width:661px) and (max-width:980px)
{
.bookadv-options-wrapper
{
	width:620px
}
.bookadv-option-image:nth-child(2n+1)
{
	margin-right:20px
}

}
	@media (min-width:981px) and (max-width:1299px)
{
.bookadv-options-wrapper
{
	width:940px
}
.bookadv-option-image:nth-child(3n+2)
{
	margin-left:20px;
	margin-right:20px
}

}
	@media (min-width:1300px)
{
.bookadv-options-wrapper
{
	width:1260px
}

}
.bookadv-option-image
{
	position:relative;
	display:inline-block;
	overflow:hidden;
	margin-bottom:20px;
	width:300px;
	padding-top:150px
}
.bookadv-option-image .hdr-four
{
	background:#33424f;
	color:#fff;
	padding:6px 10px;
	font-size:17px;
	margin-bottom:0;
	text-align:center
}
	@media (min-width:1300px)
{
.bookadv-option-image
{
	margin-right:20px
}
.bookadv-option-image:nth-child(4n+4)
{
	margin-right:0
}

}
.bookadv-checked
{
	opacity:0;
	-webkit-transition:opacity .4s;
	transition:opacity .4s
}
.bookadv-checked span
{
	opacity:0;
	-webkit-transition:opacity .4s .3s;
	transition:opacity .4s .3s
}
.is-selected .bookadv-checked
{
	opacity:1;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(51,66,79,.7)
}
.is-selected .bookadv-checked span
{
	opacity:1;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-35%,-62%);
	transform:translate(-35%,-62%);
	background-image:url(/sites/all/themes/vwtheme/assets/img/checkbox.png?1426004622);
	background-size:contain;
	width:50px;
	height:50px
}
	#edit-submitted-activities,#edit-submitted-rooms,#edit-submitted-suites,#edit-submitted-villas
{
	display:none
}
	@media screen and (max-width:50em)
{
.content
{
	padding:0 10px;
	text-align:center
}
.grid figure
{
	display:inline-block;
	float:none;
	margin:10px auto;
	width:100%
}

}
.owl-carousel .owl-wrapper:after
{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}
.owl-carousel,.owl-carousel .owl-wrapper
{
	display:none;
	position:relative
}
.owl-carousel
{
	width:100%;
	-ms-touch-action:pan-y
}
.owl-carousel .owl-wrapper-outer
{
	overflow:hidden;
	position:relative;
	width:100%
}
.owl-carousel .owl-wrapper-outer.autoHeight
{
	-ms-transition:height .5s ease-in-out;
	transition:height .5s ease-in-out
}
.owl-carousel .owl-item
{
	float:left
}
.owl-controls
{
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:transparent
}
.grabbing
{
	cursor:url(../img/grabbing.png) 8 8,move
}
.owl-carousel .owl-item,.owl-carousel .owl-wrapper
{
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
	transform:translate3d(0,0,0)
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover
{
	opacity:1;
	text-decoration:none
}
.owl-theme .owl-controls .owl-page
{
	display:inline-block;
	zoom:1
}
.owl-theme .owl-controls .owl-page span
{
	display:block;
	width:14px;
	height:14px;
	border-radius:50%;
	margin:5px 7px;
	opacity:.4;
	background:rgba(255,255,255,.4);
	transition:ease-in-out .2s
}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span
{
	opacity:1
}
.single-demo.owl-theme .owl-controls .owl-page span
{
	background:#fff
}
.single-demo.owl-theme .owl-controls .owl-page.active span,.single-demo.owl-theme .owl-controls.clickable .owl-page:hover span
{
	opacity:1;
	border:1px solid #fff;
	background:#fff
}
.owl-theme .owl-controls .owl-page span.owl-numbers
{
	height:auto;
	width:auto;
	color:#FFF;
	padding:2px 10px;
	font-size:12px;
	border-radius:30px
}
.owl-item.loading
{
	min-height:150px;
	background:url(../img/ajaxloader.gif) center center no-repeat
}
.owl-item img
{
	margin-bottom:0
}
.owl-item.node--page
{
	padding-bottom:0
}
	#slidepanel .owl-item
{
	overflow:hidden
}
.single-demo .item
{
	position:relative
}
.single-demo-text
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:rgba(0,0,0,.6);
	color:#fff;
	padding:6px 20px;
	font-size:16px;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-transform:uppercase
}
.owl-theme .owl-controls
{
	text-align:center;
	height:0
}
.owl-pagination
{
	-webkit-transform:translateY(-100px);
	transform:translateY(-100px);
	display:none
}
	#slidepanel .owl-buttons
{
	position:absolute;
	top:43%;
	width:100%
}
	#slidepanel .owl-buttons .owl-prev
{
	position:absolute;
	left:15px;
	background:url(../img/rght_arrow.png) no-repeat;
	background-size:26px 50px;
	width:26px;
	height:50px;
	transition:ease-in-out .2s;
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg)
}
	#slidepanel .owl-buttons .owl-prev:focus,#slidepanel .owl-buttons .owl-prev:hover
{
	background:url(../img/rght_arrow.png) no-repeat;
	background-size:26px 50px;
	width:26px;
	height:50px
}
	#slidepanel .owl-buttons .owl-next
{
	position:absolute;
	right:12px;
	background:url(../img/rght_arrow.png) no-repeat;
	background-size:26px 50px;
	width:26px;
	height:50px;
	transition:ease-in-out .2s
}
	@media (max-width:660px)
{
.owl-pagination
{
	display:none
}
	#slidepanel .owl-buttons .owl-prev
{
	left:0
}
	#slidepanel .owl-buttons .owl-next
{
	right:0
}

}
	#slidepanel .owl-buttons .owl-next:focus,#slidepanel .owl-buttons .owl-next:hover
{
	background:url(../img/rght_arrow.png) no-repeat;
	background-size:26px 50px;
	width:26px;
	height:50px
}
.owl-theme .inner-ratio
{
	position:relative;
	padding-bottom:56.25%;
	height:0
}
.owl-theme .inner-ratio img
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.owl-fade-out
{
	z-index:10;
	-webkit-animation:fadeOut .7s both ease;
	-moz-animation:fadeOut .7s both ease;
	animation:fadeOut .7s both ease
}
.owl-fade-in
{
	-webkit-animation:fadeIn .7s both ease;
	-moz-animation:fadeIn .7s both ease;
	animation:fadeIn .7s both ease
}
	@-webkit-keyframes fadeIn
{
	0%
{
	opacity:0
}
	100%
{
	opacity:1
}

}
	@-moz-keyframes fadeIn
{
	0%
{
	opacity:0
}
	100%
{
	opacity:1
}

}
	@keyframes fadeIn
{
	0%
{
	opacity:0
}
	100%
{
	opacity:1
}

}
	@-webkit-keyframes fadeOut
{
	0%
{
	opacity:1
}
	100%
{
	opacity:0
}

}
	@-moz-keyframes fadeOut
{
	0%
{
	opacity:1
}
	100%
{
	opacity:0
}

}
	@keyframes fadeOut
{
	0%
{
	opacity:1
}
	100%
{
	opacity:0
}

}
.lazy-hidden
{
	opacity:0
}
.lazy-loaded
{
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-ms-transition:opacity .3s;
	-o-transition:opacity .3s;
	transition:opacity .3s;
	opacity:1
}
.messages
{
	position:absolute;
	z-index:1000;
	right:0;
	top:185px;
	max-width:475px;
	color:#fff;
	background:#0077C1;
	display:inline-block;
	padding:1em;
	margin-top:3em;
	margin-bottom:.3em
}
.messages a
{
	text-decoration:underline;
	color:#fff
}
	#route li a,.ctatext-text li
{
	text-decoration:none
}
.messages a:hover
{
	color:#CCC
}
	#toolbar
{
	z-index:5000
}
	#drupal-admin
{
	display:none;
	position:absolute;
	z-index:3000;
	right:26px;
	top:195px
}
	@media (min-width:960px)
{
	#drupal-admin
{
	display:block
}

}
.page-user #drupal-admin
{
	position:relative;
	top:85px;
	left:0
}
.page-user #content
{
	max-width:1024px;
	padding-left:44px;
	padding-right:44px;
	position:relative;
	width:100%;
	margin:0 auto
}
.b_room,.booking_room,.lanuge,.resv_b_now,.three_cs
{
	position:absolute
}
.page-user #user-login
{
	margin:100px auto 60px;
	max-width:1140px;
	padding-left:20px;
	padding-right:20px
}
.page-user #user-pass
{
	max-width:600px;
	width:100%;
	margin:160px auto 40px
}
.container
{
	width:300px
}
.hotel_booking_area
{
	right:10%;
	position:absolute;
	text-transform:uppercase;
	top:37%;
	z-index:200;
	border:1px solid #0077C1
}
.picker-container
{
	display:none
}
.hotel_booking
{
	background:#313a45;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	min-height:94px;
	padding:13px 10px;
	position:relative
}
.room_book
{
	margin-right:7%
}
.room_book h6
{
	color:#fff;
	font-size:25px;
	font-weight:600;
	font-family:lane_-_narrowregular,Arial,sans-serif;
	text-align:center
}
.book,.room_book p
{
	font-weight:700;
	color:#fff;
	font-family:lane_-_narrowregular,Arial,sans-serif
}
.room_book p
{
	font-size:30px;
	line-height:25px;
	margin:0
}
	form#form1 .form-group
{
	margin:0
}
.book
{
	border-radius:4px;
	border:1px solid #0077C1;
	font-size:.667em;
	letter-spacing:.08em;
	background:#0077C1;
	padding:11px 13.33px 9px;
	text-transform:uppercase;
	display:inline-block;
	margin:12px 0 0 78px;
	cursor:pointer
}
.booking_room h4,.reservation h5,.reservation h6
{
	text-transform:capitalize
}
.logo_bg
{
	background-color:#fff!important;
	padding-bottom:11%;
	box-shadow:0 0 0 9px rgba(255,255,255,.2)
}
.three_cs
{
	font-family:lane_-_narrowregular,Arial,sans-serif;
	font-size:.571em;
	color:#09F;
	display:block;
	text-align:left;
	margin-top:-20px;
	margin-left:16.212%
}
.three_cs a
{
	color:#09F;
	cursor:pointer
}
.online_reservation
{
	z-index:999
}
.b_room
{
	display:inline-flex;
	box-shadow:0 0 4px #616161;
	-webkit-box-shadow:0 0 4px #616161;
	-moz-box-shadow:0 0 4px #616161;
	-o-box-shadow:0 0 4px #616161;
	width:13%
}
.booking_room
{
	width:100%;
	top:3.7em;
	left:122%;
	z-index:1
}
.booking_room h4
{
	font-size:1.5em;
	color:#202020;
	font-weight:600;
	margin-bottom:10px
}
.booking_room p
{
	font-size:.8725em;
	color:#6b6b6b;
	line-height:1.8em
}
.reservation
{
	padding:13px 0;
	float:left;
	width:100%;
	background:rgba(9,43,72,.8)
}
.reservation ul li
{
	float:left;
	list-style:none
}
.reservation ul li.left
{
	margin-left:15px
}
.reservation ul li.span1_of_1
{
	width:83.33333%;
	margin-left:1em
}
.reservation ul li.span1_of_2
{
	width:9.33333%
}
.reservation ul li.span1_of_3
{
	width:92.33333%;
	margin-left:20px
}
.reservation h5
{
	font-size:17px;
	color:#0073B3;
	margin-bottom:8px;
	text-align:-webkit-center;
	font-weight:600
}
.reservation h6
{
	font-size:12px;
	color:#FFF;
	margin:4px 0 8px
}
.book_date input[type=text],select
{
	color:#858585;
	font-size:12px;
	outline:0;
	border:1px solid #DFDFDF
}
	select
{
	width:100%;
	padding:7px;
	background:#fff;
	margin-bottom:7px
}
	select option
{
	border:1px solid #DFDFDF;
	outline:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.book_date input[type=text]
{
	width:100%!important;
	padding:8px 30px;
	box-shadow:inset 0 0 2px #ececec;
	-webkit-box-shadow:inset 0 0 2px #ececec;
	-moz-box-shadow:inset 0 0 2px #ececec;
	-o-box-shadow:inset 0 0 2px #ececec;
	-webkit-appearance:none;
	margin-bottom:8px
}
.date
{
	background:url(../img/icon.png) 3% 50% no-repeat #FFF
}
.date_btn
{
	margin:22px 0 0
}
.resv_b_now
{
	width:39%!important;
	background:#055C92;
	color:#FFF;
	padding:6px!important;
	border:none;
	border-radius:0!important;
	font-size:13px!important;
	cursor:pointer;
	letter-spacing:0;
	margin:6% 0 0 -21%
}
.date_btn form input[type=submit]:hover
{
	background:#781F20;
	border:1px solid #D38F55
}
	#promo
{
	width:55%;
	color:#858585;
	padding:6px;
	border:1px solid #DFDFDF;
	font-size:12px;
	letter-spacing:0;
	margin:15px 0 0 23px
}
.nationality
{
	font-size:12px;
	color:#FFF;
	margin:12px 0 0;
	text-transform:uppercase
}
.lanuge
{
	float:right;
	height:38px;
	width:145px;
	left:1136px;
	top:5px;
	overflow:hidden
}
.add_firs,.add_freud
{
	top:120px;
	position:relative;
	font-size:15px
}
.add_freud
{
	float:left;
	left:0
}
.add_firs
{
	left:200px
}
.add_ellens
{
	position:relative;
	font-size:15px;
	top:-75px;
	left:650px
}
.add_rand
{
	position:relative;
	font-size:15px;
	top:-275px;
	left:950px
}
.ctatext-text li
{
	list-style:disc;
	font-size:14px;
	text-align:left;
	margin-left:auto;
	width:80%
}
.priv-poly
{
	width:100%;
	height:auto;
	display:block;
	margin-bottom:20px;
	padding:0;
	list-style:disc
}
.priv-poly li
{
	width:96%
}
.promo_header
{
	text-align:left;
	font-size:20px;
	text-transform:none;
	line-height:0;
	padding:20px;
	background-color:#F2F2F2
}
	#route
{
	padding:20px;
	font-size:10pt;
	color:#484848;
	margin-left:25.2%
}
	#route li
{
	list-style:none;
	display:inline-block
}
	#nt-example1
{
	max-width:100%;
	margin:auto;
	height:auto!important
}
	#nt-example1-container
{
	text-align:center
}
	#nt-example1-container i
{
	font-size:36px;
	margin:8px;
	cursor:pointer;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out
}
	#nt-example1-container i:hover
{
	color:#333
}
	#nt-example1 li
{
	color:#4e4e4e;
	background:#F2F2F2;
	overflow:hidden;
	height:80px;
	width:auto;
	padding:10px;
	line-height:24px;
	list-style:none;
	font-size:20px;
	text-align:left;
	margin-left:17px
}
.grid,.grid1,.grid2
{
	padding:1em 0;
	max-width:1100px;
	list-style:none;
	text-align:center;
	position:relative
}
	#nt-example1 li .hotel_name
{
	font-weight:700;
	font-family:'ITC Legacy Serif W01',Georgia,serif;
	font-style:italic;
	text-indent:450px
}
.grid
{
	margin:0 auto
}
.grid1,.grid2
{
	margin:auto
}
.grid figure,.grid1 figure,.grid2 figure
{
	position:relative;
	float:left;
	overflow:hidden;
	margin:10px 1%;
	min-width:320px;
	max-width:525px;
	max-height:350px;
	width:48%;
	background:#3085a3;
	text-align:center;
	cursor:pointer
}
.grid figure img,.grid1 figure img,.grid2 figure img
{
	position:relative;
	display:block;
	min-height:100%;
	max-width:100%;
	opacity:.8
}
.grid figure figcaption,.grid1 figure figcaption,.grid2 figure figcaption
{
	padding:2em;
	color:#fff;
	text-transform:uppercase;
	font-size:1.25em;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden
}
.grid figure figcaption::after,.grid figure figcaption::before,.grid1 figure figcaption::after,.grid1 figure figcaption::before,.grid2 figure figcaption::after,.grid2 figure figcaption::before
{
	pointer-events:none
}
.grid figure figcaption,.grid figure figcaption>a,.grid1 figure figcaption,.grid1 figure figcaption>a,.grid2 figure figcaption,.grid2 figure figcaption>a
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.grid figure figcaption>a,.grid1 figure figcaption>a,.grid2 figure figcaption>a
{
	z-index:1000;
	text-indent:200%;
	white-space:nowrap;
	font-size:0;
	opacity:0
}
.grid figure h2,.grid1 figure h2,.grid2 figure h2
{
	font-weight:300;
	font-family:Raleway,Arial,sans-serif;
	text-transform:uppercase;
	font-size:.853em
}
.grid figure h2 span,.grid1 figure h2 span,.grid2 figure h2 span
{
	font-weight:800
}
.grid figure h2,.grid figure p,.grid1 figure h2,.grid1 figure p,.grid2 figure h2,.grid2 figure p
{
	margin:0
}
.grid figure p,.grid1 figure p,.grid2 figure p
{
	letter-spacing:1px;
	font-size:48%
}
	figure.effect-oscar
{
	background:-webkit-linear-gradient(45deg,#22682a 0,#9b4a1b 40%,#3a342a 100%);
	background:linear-gradient(45deg,#22682a 0,#9b4a1b 40%,#3a342a 100%)
}
	figure.effect-oscar img
{
	opacity:.9;
	-webkit-transition:opacity .35s;
	transition:opacity .35s
}
	figure.effect-oscar figcaption
{
	padding:3em;
	background-color:rgba(51,66,79,.33);
	-webkit-transition:background-color .35s;
	transition:background-color .35s
}
	figure.effect-oscar figcaption::before
{
	position:absolute;
	top:30px;
	right:30px;
	bottom:30px;
	left:30px;
	border:1px solid #fff;
	content:''
}
	figure.effect-oscar h2
{
	margin:10% 0 10px;
	-webkit-transition:-webkit-transform .35s;
	transition:transform .35s;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
	figure.effect-oscar figcaption::before,figure.effect-oscar p
{
	opacity:0;
	-webkit-transition:opacity .35s,-webkit-transform .35s;
	transition:opacity .35s,transform .35s;
	-webkit-transform:scale(0);
	transform:scale(0)
}
	figure.effect-oscar:hover h2
{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
	figure.effect-oscar:hover figcaption::before,figure.effect-oscar:hover p
{
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1)
}
	figure.effect-oscar:hover figcaption
{
	background-color:rgba(58,52,42,0)
}
	figure.effect-oscar:hover img
{
	opacity:.4
}
.nav_img
{
	width:15%
}
.mega-dropdown
{
	width:470px;
	box-shadow:0 0 0 9px rgba(255,255,255,.2)
}
.findmore
{
	width:107px;
	padding:9px 17px;
	background-image:url(../img/btn.png);
	background-repeat:no-repeat;
	margin:0 auto;
	color:#5a5a5c;
	font-size:10px;
	text-transform:uppercase
}
	#ellens,#firs,#randh
{
	background-repeat:no-repeat;
	background-position:center top;
	margin-top:10px;
	float:left
}
.menu_main_ h2
{
	color:#313131;
	font-size:12px!important;
	text-transform:uppercase;
	margin-bottom:3px!important
}
	#randh
{
	background-image:url(../img/randholee-new.png);
	height:110px;
	width:140px
}
	#ellens:hover,#firs:hover,#randh:hover
{
	background-position:center bottom
}
	#ellens
{
	background-image:url(../img/ellens-new.png);
	height:104.5px;
	width:140px
}
	#firs
{
	background-image:url(../img/firs.png);
	height:110px;
	width:150px
}
.search .input
{
	float:left;
	width:130%;
	background-color:rgba(0,0,0,.47);
	border:none;
	color:rgba(0,0,0,.75);
	font-family:pt_sansregular,Arial,Helvetica,sans-serif;
	font-size:13px;
	padding:9px;
	margin-top:-5px
}
.search .submit
{
	width:50%;
	background-color:rgba(0,0,0,0);
	border:none;
	color:#fff;
	font-family:open_sansregular,Arial,Helvetica,sans-serif;
	font-size:13px;
	margin:3% 0 0 -47%;
	padding:0;
	position:absolute
}
.downloads
{
	width:47%;
	height:auto;
	margin-bottom:30px
}
.downloads a,.ebrochure
{
	width:100%;
	height:auto;
	display:block
}
.downloads a
{
	float:left;
	font-size:14px;
	text-align:left
}
	#scroll-down,.tabs nav
{
	text-align:center
}
.down1,.down3
{
	float:left
}
.down2,.down4
{
	float:right
}
.ebrochure
{
	float:left;
	margin-top:12px
}
	#scroll-down
{
	width:50px;
	height:50px;
	margin:auto auto -50px;
	border-radius:50%;
	border:1px solid #fff;
	top:-100px;
	right:47%;
	display:none;
	z-index:500;
	position:relative
}
	#googleMap,.tabs
{
	width:100%;
	position:relative
}
	#googleMap
{
	height:480px;
	margin-top:-245px;
	margin-bottom:30px
}
.contact-no
{
	font-size:15px;
	top:86px;
	right:375px;
	position:relative
}
.webform-component-errors
{
	color:red;
	margin-bottom:25px
}
.webform-component-errors li
{
	margin-left:20px
}
.webform-component-errors li:first-child
{
	margin-top:5px
}
.webform-component-success
{
	color:green;
	font-weight:700;
	font-size:23px;
	margin-bottom:25px
}
.tabs
{
	overflow:hidden;
	margin:2em auto;
	font-weight:300
}
.tabs nav ul
{
	padding:0;
	margin:0 14%;
	list-style:none;
	display:inline-block
}
.tabs nav ul li
{
	border-top:solid 1px #becbd2;
	border-left:solid 1px #becbd2;
	border-right:solid 1px #becbd2;
	border-bottom:none;
	margin:0 .25em;
	display:block;
	float:left;
	position:relative
}
.tabs nav li.tab-current
{
	border-bottom:none;
	z-index:100
}
.tabs nav #randh2.tab-current
{
	background-color:rgba(253,229,229,.5);
	border-top:solid 3px #7D2C2C;
	border-left:solid 1px #7D2C2C;
	border-right:solid 1px #7D2C2C
}
.tabs nav #firs2.tab-current
{
	background-color:rgba(240,249,215,.5);
	border-top:solid 3px #324008;
	border-left:solid 1px #324008;
	border-right:solid 1px #324008
}
.tabs nav #ellens2.tab-current
{
	background-color:rgba(223,239,255,.5);
	border-top:solid 3px #034383;
	border-left:solid 1px #034383;
	border-right:solid 1px #034383
}
.tabs nav #randh2.tab-current a
{
	color:#7D2C2C
}
.tabs nav #firs2.tab-current a
{
	color:#324008
}
.tabs nav #ellens2.tab-current a
{
	color:#034383
}
.tabs nav li.tab-current:after,.tabs nav li.tab-current:before
{
	content:'';
	position:absolute;
	height:1px;
	right:100%;
	bottom:0;
	width:2000px
}
.tabs nav #randh2.tab-current:after,.tabs nav #randh2.tab-current:before
{
	background:#7D2C2C
}
.tabs nav #firs2.tab-current:after,.tabs nav #firs2.tab-current:before
{
	background:#324008
}
.tabs nav #ellens2.tab-current:after,.tabs nav #ellens2.tab-current:before
{
	background:#034383
}
.tabs nav li.tab-current:after
{
	right:auto;
	left:100%;
	width:4000px
}
.tabs nav a
{
	color:#686E71;
	display:block;
	font-size:20px;
	line-height:1.5em;
	padding:1em 2em .7em;
	white-space:nowrap
}
.tabs nav a:hover
{
	color:#505657
}
.tabs nav a:active
{
	color:#fff
}
.tabs nav li.tab-current a
{
	color:#C5C5C5
}
.tabs nav a:before
{
	display:inline-block;
	vertical-align:middle;
	text-transform:none;
	font-weight:400;
	font-variant:normal;
	font-family:icomoon;
	line-height:1;
	speak:none;
	-webkit-font-smoothing:antialiased;
	margin:-.25em .4em 0 0
}
.icon-food:before
{
	content:"\e600"
}
.icon-lab:before
{
	content:"\e601"
}
.icon-cup:before
{
	content:"\e602"
}
.icon-truck:before
{
	content:"\e603"
}
.icon-shop:before
{
	content:"\e604"
}
.content section
{
	padding:1em;
	display:none;
	max-width:1230px;
	margin:-8px auto 0
}
.content section:after,.content section:before
{
	content:'';
	display:table
}
.content section:after
{
	clear:both
}
.no-js .content section
{
	display:block;
	padding-bottom:2em;
	border-bottom:1px solid #47a3da
}
.content section.content-current
{
	display:block
}
.mediabox
{
	float:left;
	width:100%;
	padding:0
}
	@media screen and (max-width:52.375em)
{
.tabs nav a span
{
	display:none
}
.tabs nav a:before
{
	margin-right:0
}
.mediabox
{
	float:none;
	width:auto;
	padding:0;
	font-size:90%
}
.mediabox:after,.mediabox:before
{
	content:'';
	display:table
}
.mediabox:after
{
	clear:both
}

}
	@media screen and (max-width:650px) and (min-width:550px)
{
.content section
{
	margin:-8px 15% 0
}

}
	@media screen and (max-width:32em)
{
.tabs nav ul,.tabs nav ul li a
{
	width:100%;
	padding:0;
	font-size:10px;
	line-height:2em
}
.tabs nav ul li
{
	width:auto;
	margin:0
}
.tabs nav ul li:last-child
{
	border-right:none
}
.mediabox
{
	text-align:left
}

}
.reservation #close
{
	cursor:pointer;
	-webkit-transition:all .1s ease;
	-moz-transition:all .1s ease;
	-o-transition:all .1s ease;
	transition:all .1s ease
}

