@media screen and (max-width: 1700px) {
    .booking_room {
        width: 100%;
        position: absolute;
        top: 3.5em;
        left: 71%;
        z-index: 1;
    }
    .reservation {
        padding: 13px 0px;
        float: left;
        width: 120%;
        background: rgba(9, 43, 72, 0.8) none repeat scroll 0% 0%;
    }
    .book_now input[type="submit"] {
        width: 43% !important;
        background: #055C92;
        color: #FFF;
        padding: 7px;
        border: none;
        border-radius: 0px;
        font-size: 13px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 7% 0% 0% -21%;
    }
    .slidepanel-text{margin-top: 31%;}

}
@media screen and (max-width: 1366px) {
    .logo a {
        width: 258px;
        height: 145px;
    }
    .booking_room {
        width: 100%;
        position: absolute;
        top: 3.7em;
        left: 17%;
        z-index: 1;
    }

    .reservation h5 {
        font-size: 15px;
    }

    .reservation {
        padding: 13px 0px;
        float: left;
        width: 146%;
        background: rgba(9, 43, 72, 0.8) none repeat scroll 0% 0%;
    }

    #promo {
        width: 57%;
        color: #858585;
        padding: 5px;
        border: 1px solid #DFDFDF;
        font-size: 12px;
        letter-spacing: 0px;
        margin: 6px 0px 0px 21px;
    }

    .book_now input[type="submit"] {
        width: 58% !important;
        background: #055C92 none repeat scroll 0% 0%;
        color: #FFF;
        padding: 6px !important;
        border: medium none;
        border-radius: 0px;
        font-size: 13px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 4% 0% 0% -26%;
    }
    .slidepanel-text{margin-top: 30%;}
    .slidepanel-text .hdr-one {
        margin-bottom: 13px;
        text-align: -webkit-right;
        font-family: "ITC Legacy Serif W01", "Georgia", serif;
        font-size: 34px;
    }
    .nav-footer li{margin-left: 15px;}
    .footer-social-media {
        text-align: right;
        -webkit-transform: translate(-20px);
        transform: translate(-100px);
        margin-top: -60px;
        font-size: 25px;
    }
    .nav-footer {
        text-align: left;
        margin-left: 100px;
    }
    h2,.twoo{
        font-size: 1.3em;
        line-height: 1em;
        text-transform: capitalize;
        font-family: "ITC Legacy Serif W01", "Georgia", serif;
    }
    .grid figure p, .grid1 figure p, .grid2 figure p {
        letter-spacing: 1px;
        font-size: 46%;
        padding: 34px;
    }
    .grid figure h2, .grid1 figure h2, .grid2 figure h2 {
        font-weight: 300;
        font-family: 'Raleway', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 0.7em;
    }
    figure.effect-oscar figcaption {
        padding: 1em;
        background-color: rgba(51, 66, 79, 0.33);
        -webkit-transition: background-color 0.35s;
        transition: background-color 0.35s;
    }
    #route {
        padding: 5px;
        font-size: 10pt;
        color: #484848;
        margin-left: 17.2%;
    }
}

@media screen and (max-width:801px) {
    body { overflow-x: hidden; }
    .ddd{display:none;}
    .accordion {
        position: relative;
        display:block !important;
    }
    .logo a {
        width: 230px;
        height: 130px;
        margin-left: 10px;
    }
    .reservation ul li.span1_of_1 {
        width: 29.5%;
        margin-left: 1em;
    }
    .b_room {
        display: inline-flex;
        box-shadow: 0px 0px 4px rgb(97, 97, 97);
        -webkit-box-shadow: 0px 0px 4px rgb(97, 97, 97);
        -moz-box-shadow: 0px 0px 4px rgb(97, 97, 97);
        -o-box-shadow: 0px 0px 4px rgb(97, 97, 97);
        width: 96%;
        position: absolute;
    }
    .booking_room {
        width: 100%;
        position: absolute;
        top: 21em;
        left: 4%;
        z-index: 1;
    }
    .reservation {
        padding: 13px 0px;
        float: left;
        width: 96%;
        background: rgba(9, 43, 72, 0.8) none repeat scroll 0% 0%;

    }
    #promo {
        width: 100%;
        color: #858585;
        padding: 8px;
        border: 1px solid #DFDFDF;
        font-size: 14px;
        letter-spacing: 0px;
        margin: 15px 0px 0px 21px;
    }
    .book_now input[type="submit"] {
        width: 28.5% !important;
        background: #055C92 none repeat scroll 0% 0%;
        color: #FFF;
        padding: 10px !important;
        border: medium none;
        border-radius: 0px;
        font-size: 15px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 2% 0% 0% 5.5%;
    }
    .book_date input[type="text"] {
        width: 100% !important;
        color: #858585;
        font-size: 15px;
        padding: 8px 30px;
        outline: none;
        border: 1px solid #DFDFDF;
        box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-appearance: none;
        margin-bottom: 8px;
    }
    .reservation h5 {
        font-size: 20px;
        color: #0073B3;
        text-transform: capitalize;
        margin-bottom: 12px;
        text-align: -webkit-center;
        font-weight: 600;
    }
    select {
        width: 100%;
        color: #858585;
        font-size: 15px;
        padding: 7px;
        outline: none;
        background: #ffffff;
        border: 1px solid #DFDFDF;
        margin-bottom: 7px;
    }

    .slidepanel-text{display:none}
    .zoomIn{-webkit-animation-name:none !important;animation-name:none !important;}

    .nav-primary ul {
        display: none;
    }
    .nav-primary li:hover > ul {
        display: block;
    }
    .nav-primary ul:after {
        content: ""; clear: both; display: block;
    }
    .nav-primary ul li {
        display: inline;
        padding: 0px 15px;		
        max-width: 200px;
        text-align: center;
        text-transform: uppercase;
        float: left;
        font-size: 16px;
        color: #7C2C2B;
    }
    .nav-primary ul li a {
        display: block;
        color: #1F1F1F; 
        text-decoration: none;
        margin-bottom: -20px;
    }
    .nav-primary ul {
        background: #FFF;
        padding: 0;
        position: absolute;
        border: none;
    }
    nav#nav-primary-wrapper ul ul li {
        float: none; 
        position: relative;
    }
    .nav-primary ul li a:hover {
        color: #0077C1;
    }
    .nav-primary li a {
        font-size: 13px;
        padding: 0 25px;
        color: #0077C1;
    }
    .nav-primary li a:focus {
        color: #999
    }
    .nav-primary {
        display: none;
        height: auto;
        padding: 40px 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        text-align: left;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .nav-primary li {
        padding-bottom: 3px;
    }
    .search .input {
        float: left;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.47);
        border: none;
        color: rgba(0, 0, 0, 0.75);
        font-family: 'pt_sansregular', Arial, Helvetica, sans-serif;
        font-size: 13px;
        padding: 9px;
        margin-top: 0px;
    }
    .search .submit {
        background-color: rgba(0,0,0,0);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin: 1% 0% 0% -31%;
        padding: 0px;
        position: absolute;
    }
    .hide{display:block;text-align: -webkit-auto;font-size: 15px;line-height:normal;}
    .hide:hover{color:#0077C1}
    #randh, #firs, #ellens{display:none;}
    #scroll-down{display:none !important;}
    .accordionTitle, .accordion__Heading {
        text-align: center;
        margin-top: 20px;
        padding: 0px;
        display: block;
        text-decoration: none;
        font-size: 16px !important;
    }
    .ctacard-card {
        float: left;
        width: 100%;
        height: auto;
        margin: 30px 0% 30px;
    }

    @media screen and (max-width:650px) and (min-width: 550px) {
        .ctacard-card { margin: 30px 14%; }
        .ctacard-card:nth-child(3) { margin: 30px 14% !important; }
    }

    .add_freud {
        width: 25%;
        position: relative;
        font-size: 15px;
        top: 120px;
        float: left;
        left: 0px;
    }
    .add_firs {
        width: 67%;
        float: right;
        position: relative;
        font-size: 15px;
        top: 120px;
    }
    .add_ellens {
        width: 25%;
        position: relative;
        font-size: 15px;
        top: 135px;
        float: left;
        left: 0px;
    }
    .add_rand {
        width: 40%;
        float: right;
        position: relative;
        font-size: 15px;
        top: 135px;
        left: 0px;
    }
    #googleMap{width:100%;height:480px; position:relative;margin-top: 22%;margin-bottom: 30px;}
    .copyright {
        font-family: 'lane_-_narrowregular', Arial, sans-serif;
        font-size: 0.571em;
        color: #fff;
        display: block;
        text-align: -webkit-center;
        padding: 0px 0px 0px 0;
        background: #333;
    }
    .footer-social-media {
        text-align: -webkit-center;
        -webkit-transform: translate(0px); 
        transform: translate(0px); 
        margin-top: 0px;
        padding-bottom: 0px;
        font-size: 32px;
    }
    form .form-text, form textarea, form .form-textarea-wrapper{width:100%;}
    .ctacard-wrapper .ctacard-card:nth-child(3){margin:0%;}
    .nav-footer li:hover:after{border-bottom:none}
    .nav-footer {
        text-align: left;
        margin-left: 0px;
    }
    .nav-footer li{margin-left:0px;}
    table {
        margin: auto;
        font-size: 14px;
        margin-top: 3%;
        width: 80%;
        border: none;
    }
    #route {
        padding: 20px;
        font-size: 10pt;
        color: #484848;
        margin-left: 7.7%;
    }
    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
        position: absolute;
        top: 5px !important;
        width: 1.8em;
        height: 1.8em;
    }
    .tabs {
        position: relative;
        width: 100% !important;
        overflow: hidden;
        margin: 2em auto;
        font-weight: 300;
    }
    .tabs nav a {
        color: #becbd2;
        display: block;
        font-size: 15px;
        line-height: 3em;
        padding: 0 1em !important;
        white-space: nowrap;
    }
}

@media screen and (max-width:450px) {
    .accordion {
        position: relative;
        display:block !important;
    }
    .nav-primary {
        display: none;
        height: auto;
        padding: 15px 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        text-align: left;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .nav-primary li {
        padding-top: 0px;
        padding-bottom: 3px;
    }

    .search .submit {
        background-color: rgba(0,0,0,0);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
        font-size: 13px;
        margin: 3% 0% 0% -38%;
        padding: 0px;
        position: absolute;
    }
    .booking_room {
        width: 100%;
        position: absolute;
        top: 27em;
        left: 4%;
        z-index: 1;
    }
    .reservation ul li.span1_of_1 {
        width: 25%;
        margin-left: 3.8%;
        margin-right: 2.2%;
    }
    .reservation h5 {
        font-size: 16px;
        color: #0073B3;
        text-transform: capitalize;
        margin-bottom: 12px;
        text-align: -webkit-center;
        font-weight: 600;
    }
    select {
        width: 119%;
        color: #858585;
        font-size: 8px;
        padding: 6px;
        outline: none;
        background: #ffffff;
        border: 1px solid #DFDFDF;
        margin-bottom: 7px;
    }
    .book_date input[type="text"] {
        width: 121% !important;
        color: #858585;
        font-size: 8px;
        padding: 7px 20px;
        outline: none;
        border: 1px solid #DFDFDF;
        box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-appearance: none;
        margin-bottom: 8px;
    }
    .nationality {
        font-size: 10px;
        color: #FFF;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
    }
    #promo {
        width: 70%;
        color: #858585;
        padding: 5px;
        border: 1px solid #DFDFDF;
        font-size: 9px;
        letter-spacing: 0px;
        margin: 8px 0px 0px 15px;
    }
    .book_now input[type="submit"] {
        width: 28.5% !important;
        background: #055C92 none repeat scroll 0% 0%;
        color: #FFF;
        padding: 4px !important;
        border: medium none;
        border-radius: 0px;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 2.2% 0% 0% -6.5%;
    }
    .logo a {
        width: 119px;
        height: 65px;
        margin-top: -6px;
        box-shadow: none;
    }
    .hide{display:block;text-align: -webkit-auto;font-size: 12px;}
    .hide:hover{color:#0077C1}
    #randh, #firs, #ellens{display:none;}
    #scroll-down{display:none !important;}
    .ctacard-card {
        float: left;
        width: 100%;
        margin: 30px 1% 30px ;
    }
    .ctacard-card:nth-of-type(3) {
        display: block; 
    }
    .add_freud, .add_firs, .add_ellens, .add_rand {
        width: 100%;
        position: relative;
        font-size: 14.5px;		
        float: left;
        left: 0px;
        clear:both;
    }
    .add_rand{margin-top:20px;}

    #googleMap {
        width: 100%;
        height: 480px;
        position: relative;
        margin-top: 50%;
        margin-bottom: 30px;
    }
    .accordionTitle, .accordion__Heading {
        text-align: center;
        margin-top: 0px !important; 
        padding: 0px;
        display: block;
        text-decoration: none;
        font-size: 13px !important;
    }
    .promo_header {
        text-align: left;
        font-size: 14px;
        text-transform: none;
        line-height: 0em;
        padding: 20px;
        background-color: #F2F2F2;
        margin-top: 20px;
        margin-bottom:0px;
    }
    .footer-social-media {
        text-align: -webkit-center;
        -webkit-transform: translate(0px);
        transform: translate(0px);
        margin-top: 0px;
        padding-bottom: 0px;
        font-size: 20px;
    }
    .highlight-content .hdr-four {
        margin-bottom: 14px;
        padding-top: 0px;
        text-align: center;
        font-size: 0.7em;
        line-height: 1.3em;
    }
    .grid, .grid1, .grid2 {
        position: relative;
        margin: 0 auto;
        padding: 0em 0 0em;
        max-width: 1100px;
        list-style: none;
        text-align: center;
    }
    figure.effect-chico h2 {
        padding: 10% 0 0px 0;
    }
    .grid figure h2 {
        font-weight: 300;
        font-family: 'Raleway', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 15px;
    }
    figure.effect-chico figcaption {
        padding: 2em;
        background-color: rgba(51,66,79,0.33);
        -webkit-transition: background-color 0.35s;
        transition: background-color 0.35s;
    }
    .grid figure p {
        letter-spacing: 1px;
        font-size: 55%;
    }
    .grid figure, .grid1 figure, .grid2 figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 5%;
        min-width: 320px;
        max-width: 525px;
        max-height: 350px;
        width: 48%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
    .content section {
        padding: 0em 0em;
        display: none;
        max-width: 1230px;
        margin: 0 auto;
    }
    #route {
        padding: 20px;
        font-size: 10pt;
        color: #484848;
        margin-left: 4.7%;
    }
    .tabs nav ul li, .tabs nav li.tab-current {box-shadow:none !important; border:none;}
    .tabs {
        position: relative;
        width: 100% !important;
        overflow: hidden;
        margin: -3em auto;
        font-weight: 300;
        margin-top: 30px;
    }
    #nt-example1-container{margin-top:65px;}
    #nt-example1 li {
        color: #4e4e4e;
        background: #F2F2F2;
        overflow: hidden;
        height: 100px;
        width: auto;
        padding: 6px;
        line-height: 18px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        margin-left: 17px;
    }
}

@media screen and (max-width:320px) {
    .accordion {
        position: relative;
        display:block !important;
    }
    .nav-primary {
        display: none;
        height: auto;
        padding: 15px 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        text-align: left;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .nav-primary li {
        padding-top: 0px;
        padding-bottom: 3px;
    }

    .search .submit {
        background-color: rgba(0,0,0,0);
        border: none;
        color: rgb(255, 255, 255);
        font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
        font-size: 13px;
        margin: 3% 0% 0% -38%;
        padding: 0px;
        position: absolute;
    }
    .booking_room {
        width: 100%;
        position: absolute;
        top: 15.5em;
        left: 4%;
        z-index: 1;
    }
    .reservation ul li.span1_of_1 {
        width: 25%;
        margin-left: 3.8%;
        margin-right: 2.2%;
    }
    .reservation h5 {
        font-size: 16px;
        color: #0073B3;
        text-transform: capitalize;
        margin-bottom: 12px;
        text-align: -webkit-center;
        font-weight: 600;
    }
    select {
        width: 119%;
        color: #858585;
        font-size: 8px;
        padding: 6px;
        outline: none;
        background: #ffffff;
        border: 1px solid #DFDFDF;
        margin-bottom: 7px;
    }
    .book_date input[type="text"] {
        width: 121% !important;
        color: #858585;
        font-size: 8px;
        padding: 7px 20px;
        outline: none;
        border: 1px solid #DFDFDF;
        box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
        -webkit-appearance: none;
        margin-bottom: 8px;
    }
    .nationality {
        font-size: 10px;
        color: #FFF;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
    }
    #promo {
        width: 62%;
        color: #858585;
        padding: 5px;
        border: 1px solid #DFDFDF;
        font-size: 9px;
        letter-spacing: 0px;
        margin: 8px 0px 0px 11px;
    }
    .book_now input[type="submit"] {
        width: 28.5% !important;
        background: #055C92 none repeat scroll 0% 0%;
        color: #FFF;
        padding: 5px !important;
        border: medium none;
        border-radius: 0px;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: 0px;
        position: absolute;
        margin: 2.2% 0% 0% -12.5%;
    }
    .logo a {
        width: 119px;
        height: 65px;
        margin-top: -6px;
        box-shadow: none;
    }
    .hide{display:block;text-align: -webkit-auto;font-size: 12px !important;}
    .hide:hover{color:#0077C1}
    #randh, #firs, #ellens{display:none;}
    #scroll-down{display:none !important;}
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 0%;
        min-width: 320px;
        max-width: 525px;
        max-height: 350px;
        width: 48%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

.booking_room {
    top: 10em !important;
    }

.pad_top {
    padding-top: 295px !important;
}
    form button, form input[type="button"], form input[type="reset"], form input[type="submit"], form input[type="search"] {
  
    margin-left: 36% !important;
}
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
.booking_room {
    top: 11em !important;
    }

.pad_top {
    padding-top: 295px !important;
}
    form button, form input[type="button"], form input[type="reset"], form input[type="submit"], form input[type="search"] {
  
    margin-left: 42% !important;
}

}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.booking_room {
    top: 11em !important;
    }

.pad_top {
    padding-top: 295px !important;
}
    form button, form input[type="button"], form input[type="reset"], form input[type="submit"], form input[type="search"] {
  
    margin-left: 49% !important;
}


}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 340px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.booking_room {
    top: 9em !important;
    }

.pad_top {
    padding-top: 295px !important;
}
    form button, form input[type="button"], form input[type="reset"], form input[type="submit"], form input[type="search"] {
  
    margin-left: 27% !important;
}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {


}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 735px), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi){

.reservation {
        padding: 13px 0px;
        float: left;
        width: 96%;
        background: rgba(9, 43, 72, 0.8) none repeat scroll 0% 0%;

    }


    .pad_top {
    padding-top: 295px !important;
}
.booking_room {
    width: 100%;
    position: absolute;
    top: 10em;
    left: 4%;
    z-index: 1;
}
form button, form input[type="button"], form input[type="reset"], form input[type="submit"], form input[type="search"] {
    
    <!--margin-left: 40% !important;-->
}
}
<!--==========ipad Media query ==========-->
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.reservation {
        padding: 13px 0px;
        float: left;
        width: 96%;
        background: rgba(9, 43, 72, 0.8) none repeat scroll 0% 0%;

    }


    .pad_top {
    padding-top: 295px !important;
}
.booking_room {
    width: 100%;
    position: absolute;
    top: 10em;
    left: 4%;
    z-index: 1;
}
form button, form input[type="button"], form input[type="reset"], form input[type="submit"], form input[type="search"] {
    
    <!--margin-left: 40% !important;-->
}

}