<style type="text/css">
.pop_main {
	height: 300px;
	width: 800px;
	background-color: #FFEAAA;
	background-image: url(assets/img/back.jpg);
	background-repeat: repeat;
}
body {
	margin: 0px;
	padding: 0px;
}
.qr {
	float: left;
	height: 270px;
	width: 250px;
	margin-top: 9px;
	margin-left: 25px;
	background-image: url(assets/img/qr_back.png);
	background-repeat: no-repeat;
}
.qr_2 {
	height: 192px;
	width: 192px;
	margin-top: 40px;
	margin-left: 30px;
}
.map {
	float: left;
	height: 250px;
	width: 475px;
	margin-top: 15px;
	margin-left: 25px;
	border: 5px solid #DABD67;
}
.logo {
	float: left;
	height: 210px;
	width: 410px;
	margin-top: 30px;
	margin-left: 33px;
}
</style>
</head>

<body>
<div class="pop_main">
	<div class="qr">
   	  <div class="qr_2"><img src="assets/img/map.png" width="192" height="192"></div>
    </div>
    
  <div class="map">
  	<iframe width="475" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.lk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=6.963851,80.781536&amp;aq=&amp;sll=6.829237,80.099398&amp;sspn=2.331506,4.22699&amp;t=m&amp;ie=UTF8&amp;ll=6.96383,80.781527&amp;spn=0.021299,0.040684&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
  </div>
</div>
</body>

